/*
# mod_sp_quickcontact - Ajax based quick contact Module by JoomShaper.com
# -----------------------------------------------------------------------	
# Author    JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# License - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
# Websites: http://www.joomshaper.com
*/

textarea#message{width:150px;height:80px}
p.sp_qc_loading {background: url(../images/ajax-loader.gif) no-repeat 0 50%; padding: 5px 20px}
p.sp_qc_warn{color:red}
p.sp_qc_success {color:green; font-weight: bold}
.sp_qc_error{border:1px solid #e20000}
.sp_qc_error:focus{border:1px solid red}
.sp_qc_clr{clear:both;margin-bottom:10px;}
#name {width: 90%;}
#email {width: 90%;}
#subject {width: 90%;}