body
{
  background: #FFFFFF url('../images/page.png') no-repeat fixed;
  margin: 0 auto;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
}

table
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

body
{
  text-align: left;
}

body, li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: justify;
  line-height: 175%;
}

p
{
  margin: 13px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

a, a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #43383B;
}

a:visited, a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #808080;
}

a:hover, a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #52B9E5;
}

h1
{
  color: #43383B;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
  font-size: 26px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h2
{
  color: #3B3B3B;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h3
{
  color: #43383B;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h4
{
  color: #725F65;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
  font-size: 18px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h5
{
  color: #725F65;
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
  font-size: 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h6
{
  color: #808080;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
  font-size: 13px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

header, footer, nav
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, nav
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html
{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body
{
  padding: 0;
  margin: 0;
  color: #000000;
}

.clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, li h1
{
  margin: 1px;
}

li h2, li h2
{
  margin: 1px;
}

li h3, li h3
{
  margin: 1px;
}

li h4, li h4
{
  margin: 1px;
}

li h5, li h5
{
  margin: 1px;
}

li h6, li h6
{
  margin: 1px;
}

li p, li p
{
  margin: 1px;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #594A4F !important;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

a img
{
  border: 0;
}

body img
{
  margin: 7px 7px 7px 7px;
}

body table
{
  border-collapse: collapse;
  margin: 1px;
}

body th, body td
{
  padding: 2px;
  border: solid 1px #26AAE3;
  vertical-align: top;
  text-align: left;
}

body th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera  ul>li:before
{
  bottom: 0;
}

li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #000000;
  margin: 3px 0 0 11px;
}

ul>li, ol
{
  padding: 0;
}

ul>li
{
  padding-left: 11px;
}

ul>li:before
{
  margin-left: -11px;
}

ol, ul
{
  margin: 1em 0 1em 11px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 11px;
}

li
{
  margin: 3px 0 0 0;
}

ol>li
{
  overflow: visible;
}

ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #F2F2F2 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.Sorter img
{
  border: 0;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  position: static;
  z-index: 1;
  width: 12px;
  height: 6px;
}

.Sorter a
{
  position: relative;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:visited, .Sorter a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:hover, .Sorter a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #595959;
}

.Sorter
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #404040;
}

/* Created by Artisteer vundefined.undefined.undefined.undefined */

/* Compatibility rules for the default TinyMCE skin: */
td 
{ 
    color: inherit; 
    font-family: inherit; 
    font-size: inherit; 
    margin: inherit; 
}

abbr
{
    border-bottom: 0px none;
}

cite
{
    border-bottom: 0px none;
}

body 
{
    border-collapse: collapse;
}