/*  normal */

#rsmg_albums {
	list-style: none !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}

#rsmg_albums li {
	float:left;
	margin: 0 15px 20px 0 !important;
}

div#rsmg_main ul#rsmg_gallery li {	
	float: left;
	margin: 0px;
	padding: 0px;
	margin-right: 15px;
	margin-bottom: 20px;
	background: none;
}