.pull-right {
	float:right;
}

.pull-left {
	float:left;
}

#rsmg_toolbar_default, #rsmg_toolbar_edit {
	margin-right: 10px;
}

#rsmg_save_result.rsmg_error {
	background: url(../images/small-error.png) no-repeat left center #F2DEDE;
	padding-left: 18px;
	margin-bottom: 5px;
}

.rsmg_success {
	background: url(../images/success.gif) no-repeat center left;
	padding-left: 24px !important;
}

#rsmg_add_results li.rsmg_error {
	background: url(../images/small-error.png) no-repeat 7px center #F2DEDE;
	padding: 7px 0 7px 30px;
	margin-bottom: 5px;
}

#rsmg_add_results li.rsmg_success {
	background: url(../images/small-success.gif) no-repeat 7px center #DFF0D8;
	padding: 7px 0 7px 30px;
	margin-bottom: 5px;
}

#rsmg_item_detail input {
	padding: 4px 6px;
}

#rsmg_item_detail form label {
	margin: 0px;
	display: block;
}

ul#rsmg_filters li span {
	line-height: 12px;
}

#rsmg_effect_filters input[type="checkbox"], 
#rsmg_effect_filters input[type="radio"] {
	margin: 0 5px 0 2px !important;
}
.rsmg_table_filters td {
	padding-left: 0px;
}
#rsmg_effect_filters p {
	margin-left:2px !important;
}
.rsmg_button_reset_effects {
	border:1px solid #D3D3D3;
	border-radius: 4px;
	color: #555555;
	font-weight: normal;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	background: url("../images/ui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	padding: 5px 10px;
}