.rsmg_filter_toolbar ul li {	
	line-height: 200%;
}
.rsmg_button {
	padding-bottom: 0px;
}

div#toolbar-options {
	float: left;
    margin-left: 15px;
	background: url("../images/toolbar-button-bg.png") repeat-x scroll 0 0 transparent;
}
div#toolbar-options:hover {
	background: url("../images/toolbar-button-hover-bg.png") repeat-x scroll 0 0 transparent;
}
div#toolbar-options button {
    border: 1px solid #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    color: #414141;
    display: block;
    font-size: 12px;
    height: 74px;
    line-height: 119px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 92px;
	background: url("../images/icon-settings.png") no-repeat scroll center 7px transparent;
}
div#toolbar-options button span.icon-options {
	display: none;
}
#rsmg_save_result.rsmg_error {
	background: url(../images/small-error.png) no-repeat left center #F2DEDE;
	padding-left: 18px;
	margin-bottom: 5px;
}
.rsmg_success {
	background: url(../images/success.gif) no-repeat center left;
	padding-left: 24px !important;
}
#rsmg_add_results li.rsmg_error {
	background: url(../images/small-error.png) no-repeat left center #F2DEDE;
	padding-left: 17px;
	margin-bottom: 5px;
}

#rsmg_add_results li.rsmg_success {
	background: url(../images/small-success.gif) no-repeat 7px center #DFF0D8;
	padding: 7px 0 7px 30px;
	margin-bottom: 5px;
}

.ui-selectable-helper {
	position: absolute;
	z-index: 5000;
	border:1px solid #003162;
	background: #1787c1;
	opacity: 0.2;
}

#rsmg_item_detail input {
	padding: 4px 6px;
}

#rsmg_item_detail form label {
	margin: 0px;
}

ul#rsmg_filters li span {
	line-height: 18px;
}

.ui-widget-overlay {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Dialog */

.ui-dialog {
	z-index: 110;
	overflow: auto;
}

.ui-dialog-buttonset {
	text-align: right;
}
.ui-dialog-buttonset button{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 14px;
	font-size: 13px;
	line-height: 18px;
	*line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	margin-left:0.4em;
}

.ui-dialog-buttonset button:hover{
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

.ui-helper-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
	height: 1%;
}

#rsmg_dialog_upload {
	height: 230px;
}

#rsmg_dialog_upload label {
	font-size: 12px;
}
input[type="checkbox"], input[type="radio"] { 
	margin: 0px 5px 0px 2px !important;
}

.ui-dialog-buttonpane {
	width: 100%;
	height: 65px;
	border: 1px solid #dfdfdf;
}