/* reset */
#rsmg_container ul,
.rsmg_toolbar ul,
.ui-dialog ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* title */

.icon-48-rsmediagallery {
	background-image: url(../images/logo-70-rsmediagallery.png);
	height: 70px;
	height: 80px;
}

/* wrapper */

#rsmg_wrapper {
	font-family: Arial, Helvetica, sans-serif;
	color: black;	
	background: #f7f7f7;
	position: inherit;
}

/* container */

#rsmg_container {
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	background: white;
}

/* clear */

.rsmg_clear {
	width: 100%;
	clear: both;
	display: block;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}

/* toolbar */

table.toolbar td {
	/* overrides for khepri */
	height: auto !important;
}

/* overrides for bluestork */
div.toolbar-list li {
	height: auto !important;
}

.rsmg_toolbar ul {	
	overflow: hidden;
	/*aici z-index: 250; */
	z-index: 99;
}
	
.rsmg_toolbar ul li {
	float: left;
	margin-left: 15px;
}
	
.rsmg_toolbar ul li a {
	/* overrides for khepri */
	padding: 0px;
	/* end */
	width: 92px;
	height: 74px;
	display: block;
	text-decoration: none;
	color: #414141;
	background: url(../images/toolbar-button-bg.png) repeat-x;
	text-align: center;
	font-size: 12px;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 119px;	
}
	
.rsmg_toolbar ul li a span {
	width: 90px;
	height: 72px;
	border: 1px solid #fff;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.rsmg_toolbar ul li a:hover {
	background: url(../images/toolbar-button-hover-bg.png) repeat-x;
}
	
/* toolbar buttons */
	
.rsmg_toolbar ul li a.rsmg_publish span {	
	background: url(../images/icon-publish.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_unpublish span {	
	background: url(../images/icon-unpublish.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_tag span {	
	background: url(../images/icon-tag.png) no-repeat center 7px;
}
	
.rsmg_toolbar ul li a.rsmg_remove span {	
	background: url(../images/icon-remove.png) no-repeat center 7px;
}
	
.rsmg_toolbar ul li a.rsmg_galleries span {	
	background: url(../images/icon-galleries.png) no-repeat center 7px;
}
	
.rsmg_toolbar ul li a.rsmg_settings span {	
	background: url(../images/icon-settings.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_save span {	
	background: url(../images/icon-save.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_apply span {	
	background: url(../images/icon-apply.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_cancel span {	
	background: url(../images/icon-cancel.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_upload span {
	background: url(../images/icon-upload.png) no-repeat center 7px;
}

.rsmg_toolbar ul li a.rsmg_import span {
	background: url(../images/icon-import.png) no-repeat center 7px;
}

/* override for Options button */
/* J! 2.5 */
.icon-32-options {
	background: url(../images/icon-settings.png) no-repeat center 7px !important;
}
/* J! 1.5 */
.icon-32-config {
	background: url(../images/icon-settings.png) no-repeat center 7px !important;
}

/* hidden class */

.rsmg_hidden {
	display: none;
}
	
#rsgallery_container_top {
	background: #ededed;
	border-bottom: 1px solid #c8c8c8;
	height: 42px;
	line-height: 42px;
	position: relative;
}

/* filter toolbar */

.rsmg_filter_toolbar {
	background: #515151;
	border: 1px solid #000000;
	color: #e4e4e4;
	height: 26px;	
	margin: 7px 8px 0 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}
	
.rsmg_filter_toolbar ul {
	font-size: 12px;
	color: #e4e4e4;
	background: none;
	border: none;
	height: 26px;
	border: none;
	height: 26px;
	line-height: 26px;	
	position: relative;
	z-index: 99;
}
	
.rsmg_filter_toolbar ul li a {
	color: #e4e4e4;
	text-decoration: none;	
	display: block;
	padding: 0 25px 0 10px;
}
	
.rsmg_filter_toolbar ul li a:hover {
	background: #373737;
}
	
.rsmg_filter_toolbar ul li {	
	text-align: left;
	float: left;
	background: url(../images/separator.png) no-repeat right top;	
	position: relative;	
}

.rsmg_filter_toolbar ul li ul {
	display: none;
	float: none;
}
	
.rsmg_filter_toolbar ul li ul li {	
	float: none;
	background: #515151;
	border-bottom: 1px solid #434343;
}
	
.rsmg_filter_toolbar ul li ul li a.rsmg_tick {
	background: url(../images/smalltick.png) no-repeat 95% 50%;
}
	
.rsmg_filter_toolbar ul li ul li a:hover.rsmg_tick {
	background: #373737 url(../images/smalltick.png) no-repeat 95% 50%;
}
	
.sf-sub-indicator {
	font-size: 0px;
	background: url(../images/downarrow.png) no-repeat left top; 
	width: 5px;
	height: 3px;
	display: block;
	position: absolute;
	right: 11px;
	top: 13px;
}
	
#rsmg_filter_text {
	background: url(../images/inpbg.png) repeat-x left top;
	border: none;
	height: 26px;
	line-height: 26px;
	color: white;
	width: 128px;
	padding: 0 5px;
}

#rsmg_select_all {
	font-size: 12px;
	text-decoration: none;
	padding: 6px 8px 5px 8px;
	color: white;
	background: #2471ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3px;
	border: 1px solid #055dff;
}
	
a:hover#rsmg_select_all {
	background: #0047c9;
}
	
.rsmg_button {
	float: left;
	height: 28px;
	border: 1px solid #000;
	background: #515151;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	color: #e4e4e4;
	font-size: 12px;
	padding-bottom: 5px;
	margin-top: 7px;
	margin-right: 4px;
	}
	
.rsmg_button:hover {
	background: #373737;
}

/* action buttons */
	
.rsmg_action_button {
	width: 24px;
	height: 24px;
	display: block;
}
	
.rsmg_tags {
	background: url(../images/icon-tags.png) no-repeat center;
}

.rsmg_edit {
	background: url(../images/icon-edit.png) no-repeat center;
}

.rsmg_delete {
	background: url(../images/icon-delete.png) no-repeat center;
}

.rsmg_preview {
	background: url(../images/icon-preview.png) no-repeat center;
}

.rsmg_published {
	box-shadow: -1px -1px 1px #5b9b15;
	background: #7fd225 url(../images/icon-published.gif) no-repeat 5px 6px;
}

.rsmg_published:hover {
	width: 66px;
	padding-left: 24px;
	font-size: 12px;
}

.rsmg_published:hover span {
	display: block;
}

.rsmg_publish_loading {
	box-shadow: -1px -1px 1px #787878;
	background: #b5b5b5 url(../images/loader-small.gif) no-repeat 3px 4px;
}

.rsmg_publish_loading:hover {
	width: 24px !important;
	height: 24px !important;
	padding: 0px !important;
}

.rsmg_publish_loading:hover span {
	display: none;
}

.rsmg_unpublished {
	box-shadow: -1px -1px 1px #a8353a;
	background: #d2253d url(../images/icon-unpublished.gif) no-repeat 5px 6px;
}

.rsmg_unpublished:hover {
	width: 88px;
	padding-left: 24px;
	font-size: 12px;
}

.rsmg_unpublished:hover span {
	display: block;
}

div.rsmg_publish {
	float: left;
	min-width: 24px;
	height: 24px;
	line-height: 23px;
	color: white;
	margin-top: 10px;
	margin-left: 5px;	
	font-size: 12px;
	cursor: pointer;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
}

div.rsmg_publish span {
	display: none;
}

/* media items container */

ul#rsmg_items {
	padding: 10px 10px 0 10px;
	float: left;
	z-index: 98;
}
	
ul#rsmg_items dl {
	padding: 0;
	margin: 10px 0 10px 177px;	
	position: relative;
	/* aici z-index: 500; */
	z-index: 98;
}
	
ul#rsmg_items li.rsmg_item {
	float: left;
	margin: 0 10px 20px 10px;
	padding: 10px 10px 0 10px;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #c0c0c0;
	background: #eee url(../images/item-bg.png) repeat-x;
	-moz-box-shadow: 2px 2px 10px #9c9c9c;
	-webkit-box-shadow: 2px 2px 10px #9c9c9c;
	box-shadow: 2px 2px 2px #9c9c9c;	
	width: 285px;
	height: 260px;
}


ul#rsmg_items li.rsmg_item.ui-selected {
	background: #79c6e4 url(../images/item-selected-bg.png) repeat-x;
}

ul#rsmg_items li.rsmg_item.ui-selected:hover {
	background: #79c6e4 url(../images/item-selected-bg.png) repeat-x;
}

ul#rsmg_items li.rsmg_item div.rsmg_thumb_container {
	overflow: hidden;
	width: 280px;
	height: 210px;
	position: relative;
	border: 2px solid #bfbfbf;
	cursor: move;
}

ul#rsmg_items li.rsmg_item div.rsmg_thumb_container_loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 210px;
	background: #fff url(../images/loader.gif) no-repeat center center;
}	

ul#rsmg_items li.rsmg_item:hover {
	background: #fff;
	border: 2px solid #58c2ff;
}

ul#rsmg_items li.ui-selected {
	border: 2px solid #0087d4;
}

ul#rsmg_items li.ui-selected dl dt {
	border: none;
}
	
ul#rsmg_items > li.ui-selecting {
	background: #efefef;
	border: 2px solid #0087d4;
}

ul#rsmg_items > li.ui-selecting:hover {
	background: #efefef;
	border: 2px solid #0087d4;
}
	
ul#rsmg_items li dl dt {
	margin: 0 0 0 3px;
	padding: 0;
	float: left;
	text-align: right;
}
	
ul#rsmg_items li.rsmg_item dl dt img {
	border: none;
}

/* loader */

#rsmg_loader {
	background: url(../images/loader.gif) no-repeat center center;
	width: 100px;
	height: 100px;
	margin: 55px auto 0;
}

li#rsmg_loader_container {
	border: 0px !important;
	background: none !important;
	box-shadow: none !important;
}

/* item detail */

#rsmg_item_detail {
	background: #515151;
	float: left;
	color: #e4e4e4;
	padding: 20px 10px;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 6px;
	-moz-box-shadow: 2px 2px 10px #9c9c9c;
	-webkit-box-shadow: 2px 2px 10px #9c9c9c;
	box-shadow: 2px 2px 2px #9c9c9c;
}
	
#rsmg_item_detail form label {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	-webkit-text-shadow: 1px 1px 0 #000;
	-moz-text-shadow: 1px 1px 0 #000;
}
	
#rsmg_item_detail form p {
	margin-bottom: 20px;
	margin-left: 0px;
}
	
#rsmg_item_detail input {
	padding: 7px 5px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: url(../images/inpbg.gif) repeat-x left top;
	margin-top: 5px;
}

#rsmg_detail_title, #rsmg_detail_url {
	width: 250px;
}
	
#rsmg_item_detail textarea {
	padding: 5px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 250px;
	background: #dddddd url(../images/textareabg.gif) repeat-x left top;
	height: 68px;
	resize: none;
	margin-top: 5px;
}

#rsmg_save_result.rsmg_error {
	background: url(../images/small-error.png) no-repeat left center;
	padding-left: 18px;
}

/* right info bar */

#rsmg_info {
	float: right;
	font-weight: bold;
	margin-right: 10px;
	display: none;
	text-indent: 10px;
	text-shadow: 1px 1px 0 #dddddd;
	-webkit-text-shadow: 1px 1px 0 #dddddd;
	-moz-text-shadow: 1px 1px 0 #dddddd;
}

#rsmg_info p {
	padding: 0px;
	margin: 0px;
}

.rsmg_sucess {
	background: url(../images/success.gif) no-repeat center left;
	padding-left: 24px !important;
}

/* load more button */

a#rsmg_load_more {
	width: 98%;
	height: 24px;
	line-height: 24px;
	display: block;
	text-decoration: none;
	color: #414141;
	background: url(../images/loadmore-bg.png) repeat-x;
	text-align: center;
	font-size: 12px;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 1% 1% 1%;
}
	
a:hover#rsmg_load_more {
	background: url(../images/loadmore-hover-bg.png) repeat-x;
}
	
/* delete confirmation box */
	
#rsmg_dialog_confirm_delete {
	min-height: 22px !important;
}

#rsmg_dialog_confirm_delete p span {
	float:left;
	margin:0 7px 20px 0;
}
	
/* general message */
	
#rsmg_dialog_message p {
	font-size: 12px;
}

#rsmg_dialog_message p img {
	vertical-align: middle;
}

/* tag message */

.ui-dialog h2 {
	margin: 10px 0 20px 0;
	font-weight: bold;
}
	
.ui-dialog p {
	margin: 5px 0;
	font-size: 12px;
}

.ui-dialog p span {
	float: right;
}

.ui-dialog form label {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
}
	
.ui-dialog textarea {
	padding: 5px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 362px;
	background: #dddddd url(../images/textareabg.gif) repeat-x left top;
	height: 68px;
	resize: none;
	margin-bottom: 5px;
	display: block;
}
	
.ui-dialog small {
	font-size: 11px;
}

div#rsmg_dialog_tag #rsmg_tags_text_error {
	display: none;
	background: #EBC2C2 url(../images/error.png) no-repeat center left;
	padding: 2px 2px 2px 26px;
	border-top: solid 1px #993333;
	border-bottom: solid 1px #993333;
	color: #993333;
}

ul.ui-autocomplete .ui-menu-item {
	font-size: 11px;
	}
	
.ui-dialog {
	font-size: 14px;
	line-height: 1.2em;
	padding: 0;
	border: 10px solid rgba(81, 81, 81, .2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}
	
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
	}
	
.ui-dialog-titlebar {
	border: none;
	background: none;	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #515151;
	color: #e4e4e4;
	display: none;
	}
	
div.ui-dialog-buttonset {
	font-size: 12px;
	}
	
.ui-widget-overlay {
	opacity: 0.4;
	background: black;
}

.ui-sortable-disabled li.rsmg_item {
	cursor: default !important;
}

.ui-sortable-helper {
	opacity: 0.7;
}

.ui-dialog .ui-dialog-buttonpane {
	border:  none;
}
	
.ui-dialog-buttonset {
	margin-right: 5px;
	margin-bottom: 5px;
}

/* details box */
	
.rsmg_box_left {
	width: 300px;
	float: left;
	margin: 0 15px;
}

#rsmg_box_thumb {
	float: left;
	margin: 0 15px;
	position:relative;
}

#rsmg_box_thumb img {
	border: 4px solid #3e3e3e;
	width: 380px;
}	

.rsmg_left_arrow {
	position: absolute;
	left: -8px;
	height: 15px;
	top: 50%;
	top: 113px;
	background: url(../images/arrow.png) no-repeat center;
	width: 8px;
}

/* edit buttons */
	
.rsmg_buttons_container {
	text-align: center;
	margin-bottom: 0px;
}
	
/* imgarea select */

.imgareaselect-border1 {
	background: url(../images/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(../images/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(../images/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(../images/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
	
}
	
.ui-icon {
	float: left;
	margin-right: 5px;
	}
	
.ui-state-highlight, .ui-state-error {
	padding: 10px;
	margin-bottom: 10px;
	}

/* upload */

#rsmg_upload_button {
	position: absolute;
	right: 20px;
	top: 9px;
}

#rsmg_add_results,
#rsmg_ftp_add_results {
	font-size: 11px;
}


#rsmg_add_results li.rsmg_error,
#rsmg_ftp_add_results  li.rsmg_error {
	background: url(../images/small-error.png) no-repeat left center;
	padding-left: 17px;
}

#rsmg_add_results li.rsmg_success,
#rsmg_ftp_add_results li.rsmg_success {
	background: url(../images/small-success.gif) no-repeat left center;
	padding-left: 17px;
}

.rsmg_box_left small {
	font-size: 11px;
	display: block;
	margin-top: 5px;
}

/* tooltip */
#mbtooltip{
    width:auto;
    max-width:300px;
    min-width:100px;
    border:1px solid;
    background:white;
    padding:5px;
    margin-top:4px;
    font-size:12px;
    color:dimgray;
}

#mbtooltip #ttimg.top{
    margin-top:-17px;
    margin-left:2px
}
#mbtooltip #ttimg.bottom{
    bottom:0;
    margin-bottom:-12px;
    margin-left:2px
}


#mbtooltip.default{
    border:3px solid white;
    background:whitesmoke;
    color:gray;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; 
    margin-top:2px;
}

#mbtooltip.default #ttimg.top{
	position:absolute;
		margin-top:-8px;
    margin-left:-8px
}
#mbtooltip.default #ttimg.bottom{
	position:absolute;
    bottom:0;
    margin-bottom:-3px;
    margin-left:-8px
}

/* filters */
ul#rsmg_filters {
	padding: 7px 7px 7px 20px;
	overflow: hidden;
	font-size: 12px;
}
	
ul#rsmg_filters li {
	float: left;
	padding: 5px 8px;
	background: #515151;
	margin-right: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul#rsmg_filters li strong {
	color: #ffafaf;
	font-weight: bold;
	float: left;
}

ul#rsmg_filters li span {
	font-weight: normal;
	margin-right: 6px;
	padding-right: 6px;
	border-right: 1px solid #727272;
	font-size: 11px;
	color: #fff;
	line-height: 11px;
	float: left;
}
	
ul#rsmg_filters li a.rsmg_close {
	width: 10px;
	height: 10px;
	display: block;
	background: url(../images/close.png) no-repeat right top;
	float: left;
	margin-left: 6px;
	margin-top: 2px;
	padding-left: 6px;
	border-left: 1px solid #727272;
}
	
ul#rsmg_filters li a:hover.rsmg_close {
	background: url(../images/close.png) no-repeat right bottom;
}

#rsmg_clear_filters {
	color: #fff;
	cursor: pointer;
}

#rsmg_version {
	width: 100%;
	line-height: 100%;
	padding: 5px;
	font-size: 12px;
	overflow: hidden;
}

#rsmg_version img {
	vertical-align: middle;
	margin-right: 4px;
}

#rsmg_version a {
	font-weight: bold
}

.rsmg_no_background {
	background: none !important;
}

.rsmg_full_width {
	width: 98%;
}

/* Joomla! 3.0 fixes */
#rsmg_container img {
	max-width: none !important;
}

#rsmg_filter_form {
	margin: 0;
}
#rsmg_non_fixed_ratio {
	width:140px;
}
#rsmg_ratio_label {font-weight:bold;padding-left:5px;float:right}

/* update code */
.correct-code {
	background: green;
	color: white;
}

.incorrect-code {
	background: red;
	color: white;
}

.missing-code {
	background: orange;
	color: #fff;
}

#rsmg_update_code p span {
	padding: 4px;
}

/* #rsmg_dialog_upload_ftp {
	position:relative;
} */
#rsmg_dialog_upload_ftp .rsmg_for_loader{
	position:absolute;
	width:99%;
	display:none;
}
#rsmg_dialog_upload_ftp .rsmg_ftp_add_tags{
	float:left;
	width: 50%;
}
#rsmg_dialog_upload_ftp .rsmg_ftp_publish{
	margin-top:25px;
	float:right;
	width: 50%;
	text-align:right;
}
#rsmg_dialog_upload_ftp .rsmg_ftp_results {
	background: rgba(81, 81, 81, 0.2);
	border-radius: 5px;
	padding:5px;
	display:none;
	position:relative;
	min-height: 25px;
	margin-bottom:5px;
}
#rsmg_dialog_upload_ftp .rsmg_ftp_results .rsmg_ftp_results_close {
	background:#20990B;
	border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 7px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
}
#rsmg_dialog_upload_ftp .rsmg_ftp_results .rsmg_ftp_results_close:hover {
	background:#C90E0E;
}

#rsmg_dialog_upload_ftp .rsmg_folder_list_table tr:hover td{
	background: rgba(68, 210, 242, 0.2);
}
.rsmg-arrow-up {
	width:16px;
	height:16px;
	background-image: url(../images/up-arrow.png);
	display:inline-block;
}
.rsmg-folder{
	width:16px;
	height:16px;
	background-image: url(../images/icon-folder.png);
	display:inline-block;
}
.rsmg_folder_list_table{
	border-collapse: collapse;
	margin-top:5px;
}
.rsmg_folder_list_table tr th,
.rsmg_folder_list_table tr td {
	padding: 2px 8px;
	vertical-align:middle;
	
}
.rsmg_folder_list_table tr td {
	border-top: 1px solid #DDDDDD; 
}
.rsmg_folder_list_table tbody > tr:nth-child(2n+1) > td {
    background-color: #F9F9F9;
}

.rsmg_folder_list_table th {
	text-align:left;
}

#rsmg_dialog_upload_ftp .rsmg_ftp_add_tags label {
	display:block;
	margin-bottom: 5px;
}

/* Effects */
.rsmg_float_left {
	float:left;
}
.rsmg_float_right {
	float:right;
}
.rsmg_filter_input {
	width:30px;
	float:left;
}
.rsmg_filter_slider {
	width: 80%;
	margin-left: 5px;
    margin-top: 12px;
}
.rsmg_slider_colorize_label {
	margin-right: 3px !important;
    margin-top: 12px !important;
}
.rsmg_filter_slider_colorize {
	width:74%;
}
.rsmg_effect_brightness_container,
.rsmg_effect_contrast_container,
.rsmg_effect_smooth_container,
.rsmg_effect_pixelate_container,
.rsmg_effect_colorize_container {
	display:none;
}

.rsmg_loader_overlay {	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	top:0px;
	left:0px;
	position:absolute;
	width:100%;
	height:100%;
	padding-top: 43%;
	background: rgba(255, 255, 255, 0.5);
}
.rsmg_overlay_thumb {
	padding-top: 23%;
}
.rsmg_loader_overlay #rsmg_loader {
	margin: 0 auto 0;
}
.rsmg_table_filters {
	margin-bottom: 5px;
}
.rsmg_table_filters td {
	padding-left: 3px;
}
#rsmg_effect_filters, 
#rsmg_effect_predefined_filters {
	margin-bottom: 10xp;
	display:none;
	background: #8A8A8A;
	margin-top: -1px;
	padding: 3px;
	border-radius: 0px 4px 4px 4px;
}
.rsmg_box_left_general_data {
	background: #8A8A8A;
	margin-top: -1px;
	padding: 3px;
	padding-left:15px;
	border-radius: 0px 4px 4px 4px;
}
#rsmg_effect_predefined_filters p {
	margin-bottom: 5px !important;
}
#rsmg_effect_filters p {
	margin-bottom: 5px !important;
	margin-left: 3px;
}
.rsmg_detail_selectors ul li {
	float:left;
}
.rsmg_detail_selectors ul li a:focus {
	outline: none;
}
.rsmg_detail_selectors ul li a {
	display:block;
	color:#FFFFFF;
	background: #737373;
	padding: 5px 10px;
	margin-right:3px;
	text-decoration:none;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
	
}
.rsmg_detail_selectors ul li a:hover,
.rsmg_detail_selectors ul li a.selected {
	background: #8A8A8A;
} 
.rsmg_button_reset_effects {
	margin:5px 0px;
}

/* css for predefined effects */
#rsmg_effect_predefined_filters {
	padding-left:6px;
}
.rsmg_effect_predefined_container {
	height:400px;
	overflow:auto;
	margin-top:10px;
}
#rsmg_effect_predefined_filters a {
	background: none repeat scroll 0 0 #515151;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 1px 10px 0;
    padding: 5px 5px 15px;
    text-align: center;
    width: 78px;
	text-decoration: none;
}
#rsmg_effect_predefined_filters a img {
	border-radius:4px;
	border: 1px solid #FFFFFF;
}
#rsmg_effect_predefined_filters a.selected,
#rsmg_effect_predefined_filters a:hover{
	background: #ffffff;
	color:#000000;
}
#rsmg_effect_predefined_filters a.selected img,
#rsmg_effect_predefined_filters a:hover img {
	border: 1px solid #000000;
}
.rsmg_green {
	color:#0DFC00;
	font-weight: bold;
}
.rsmg_red {
	color:#FF7373;
	font-weight: bold;
	1px 1px 0 #000000;
}