/**
  * Kanso - Semantic Flat Buttons
  * Author & copyright (c) 2013: Kris Olszewski
  * Mertize Icons by Alessio Atzeni
  * Support: IE8+
  * 
  * Repo: https://github.com/KrisOlszewski/Kanso/
  */
.jux-button {
    display: inline-block;
    margin: 0;
    padding: 10px 25px;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, "Lucida Grande", sans-serif;
    line-height: 20px;
    cursor: pointer;
    outline: none;
    background-color: #434a54;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a.jux-button{
    text-decoration: none !important;
}
.jux-button:hover,
.jux-button:focus {
    background-color: #5a6370;
}
.jux-button.is-active,
.jux-button:active {
    background-color: #2c3138;
}
.jux-button.is-disabled,
.jux-button[disabled] {
    background-color: #707c8d;
}
.jux-button:hover,
.jux-button:focus {
    color: #ffffff;
}
.jux-button.is-disabled,
.jux-button[disabled] {
    pointer-events: none;
}
.jux-button.is-primary {
    background-color: #3bafda;
}
.jux-button.is-primary:hover,
.jux-button.is-primary:focus {
    background-color: #66c1e2;
}
.jux-button.is-primary.is-active,
.jux-button.is-primary:active {
    background-color: #2494be;
}
.jux-button.is-primary.is-disabled,
.jux-button.is-primary[disabled] {
    background-color: #91d2ea;
}
.jux-button.is-secondary {
    background-color: #967adc;
}
.jux-button.is-secondary:hover,
.jux-button.is-secondary:focus {
    background-color: #b6a2e7;
}
.jux-button.is-secondary.is-active,
.jux-button.is-secondary:active {
    background-color: #7652d1;
}
.jux-button.is-secondary.is-disabled,
.jux-button.is-secondary[disabled] {
    background-color: #d6cbf1;
}
.jux-button.is-tertiary {
    background-color: #d770ad;
}
.jux-button.is-tertiary:hover,
.jux-button.is-tertiary:focus {
    background-color: #e298c4;
}
.jux-button.is-tertiary.is-active,
.jux-button.is-tertiary:active {
    background-color: #cc4896;
}
.jux-button.is-tertiary.is-disabled,
.jux-button.is-tertiary[disabled] {
    background-color: #edc0db;
}
.jux-button.is-success {
    background-color: #8cc152;
}
.jux-button.is-success:hover,
.jux-button.is-success:focus {
    background-color: #a5ce78;
}
.jux-button.is-success.is-active,
.jux-button.is-success:active {
    background-color: #72a53b;
}
.jux-button.is-success.is-disabled,
.jux-button.is-success[disabled] {
    background-color: #bedc9d;
}
.jux-button.is-danger {
    background-color: #da4453;
}
.jux-button.is-danger:hover,
.jux-button.is-danger:focus {
    background-color: #e26f7a;
}
.jux-button.is-danger.is-active,
.jux-button.is-danger:active {
    background-color: #c42737;
}
.jux-button.is-danger.is-disabled,
.jux-button.is-danger[disabled] {
    background-color: #eb99a1;
}
.jux-button.is-warning {
    background-color: #f6bb42;
}
.jux-button.is-warning:hover,
.jux-button.is-warning:focus {
    background-color: #f8cd73;
}
.jux-button.is-warning.is-active,
.jux-button.is-warning:active {
    background-color: #f4a911;
}
.jux-button.is-warning.is-disabled,
.jux-button.is-warning[disabled] {
    background-color: #fbdea3;
}
.jux-button.is-link {
    background-color: transparent;
    color: #3bafda;
}
.jux-button.is-link:hover,
.jux-button.is-link:focus,
.jux-button.is-link.is-active,
.jux-button.is-link:active {
    background-color: transparent;
    color: #434a54;
}
.jux-button.is-link.is-disabled,
.jux-button.is-link[disabled] {
    background-color: transparent;
    color: #707c8d;
}
.jux-button.is-embossed {
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.jux-button.is-embossed.is-active,
.jux-button.is-embossed:active,
.jux-button.is-embossed.is-disabled,
.jux-button.is-embossed[disabled] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jux-button.is-block {
    display: block;
    width: 100%;
}
.jux-button.has-icon {
    padding: 10px;
}
.jux-button.has-icon.has-text {
    padding: 10px 15px 10px 10px;
}
.jux-button.has-icon.has-text [class^="icon-"],
.jux-button.has-icon.has-text [class*=" icon-"] {
    margin-right: 10px;
}
input.jux-button,
button.jux-button {
    font-weight: normal;
    width: auto;
}
.jux-button-group-row:after,
.jux-button-group-row:before {
    display: table;
    content: '';
    line-height: 0;
}
.jux-button-group-row:after {
    clear: both;
}
.jux-button-group {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 5px;
}
.jux-button-group + .jux-button-group {
    margin-left: 40px;
}
.jux-button-group.push-right {
    float: right;
}
.jux-button-group > .jux-button {
    display: block;
    float: left;
    margin-right: 4px;
}
.jux-button-group > .jux-button:last-child {
    margin-right: 0;
}
[class^="jux-icon-"],
[class*=" jux-icon-"] {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
    text-indent: 20px;
    font: 0/0 a;
}
.jux-icon-search {
    background-position: 0 0;
}
.jux-icon-check {
    background-position: -20px 0;
}
.jux-icon-plus {
    background-position: -40px 0;
}
.jux-icon-minus {
    background-position: -60px 0;
}
.jux-icon-cross {
    background-position: -80px 0;
}
.jux-icon-help {
    background-position: -100px 0;
}
.jux-icon-pin {
    background-position: -120px 0;
}
.jux-icon-cloud {
    background-position: -140px 0;
}
.jux-icon-arrow-left {
    background-position: -160px 0;
}
.jux-icon-arrow-right {
    background-position: -180px 0;
}
.jux-icon-arrow-up {
    background-position: -200px 0;
}
.jux-icon-arrow-down {
    background-position: -220px 0;
}
.jux-icon-attachment {
    background-position: -240px 0;
}
.jux-icon-chat {
    background-position: -260px 0;
}
.jux-icon-config {
    background-position: -280px 0;
}
.jux-icon-tool {
    background-position: -300px 0;
}
.jux-icon-phone {
    background-position: -320px 0;
}
.jux-icon-minimize {
    background-position: -340px 0;
}
.jux-icon-maximize {
    background-position: -360px 0;
}

.jux-icon-delete{
    background-image: url(../images/icon-delete.png);
    background-size: 100%;
}
.jux-icon-upload{
    background-image: url(../images/icon-upload.png);
    background-size: 100%;
}
.jux-icon-options{
    background-image: url(../images/icon-options.png);
    background-size: 100%;
}
.jux-icon-recycle{
    background-image: url(../images/icon-recycle-bin.png);
    background-size: 100%;
}
.jux-icon-table{
    background-image: url(../images/icon-table.png);
    background-size: 100%;
}

#menuitem{
    display: none;
}

#moduleitem{
    display: none;
}

#insideArticle{
    display: none;
}

#SS > .jux-button{
    margin-right: 0px !important; 
}

.menuType{
    display: none;
}

.listModule{
    display: none;
}

.listMenu{
    display: none;
}

#copySyntax{
    padding: 5px 25px;
    margin: 0 0 10px 10px;
    position: relative;
}

.dropArea-Hover a.has-text{
    height: 80px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    [class^="jux-icon-"],
    [class*=" jux-icon-"] {
	-webkit-background-size: 380px 20px;
	-moz-background-size: 380px 20px;
	-o-background-size: 380px 20px;
	background-size: 380px 20px;
	background-image: url(../images/icon-sprite2x.png);
    }
}
