/**
 * @version		$Id$
 * @author		JoomlaUX
 * @package		Joomla.Administrator
 * @subpackage	com_jux_portfolio
 * @copyright	Copyright (C) 2012 by JoomlaUX. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html
 */
.copyright {
    color: #AAAAAA;
    text-align: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    padding: 30px 0 0 0;
    height: 50px;
}

.copyright .title {
    font-weight: bold;
}
table.admintable td label {
    clear: none ;
    min-width: 40px;
    margin : 3px 2px ;
}

/** ICONS **/
.icon-48-portfolio {
    background-image: url("../images/icon-48-portfolio.png") !important;
}

.icon-48-item {
    background-image: url("../images/icon-48-item.png") !important;
}

.icon-48-category {
    background-image: url("../images/icon-48-category.png") !important;
}
.category_image {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.description{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.media .radio{
    margin: 0px !important;
    padding: 0px!important;
    width: 200px;
    text-align: center;
}
.media_style img {
    border: 1px solid #DDDDDD;
}

.container {
    position: relative;
    width: 960px;
}
.brick.small {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
.brick span.error{
    display: block;
    color: #FFF;
    background: rgba(255, 0, 0, 1);
    width: 140px;
    height: 140px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    line-height: 40px;
}
.brick a.delete{
    display: block;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    line-height: 40px;
}
.brick a.edit{
    display: block;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    line-height: 40px;
}

.brick a.edit i.icon-pencil-2:before{
    color: white !important;
}
.brick a{
    color: -webkit-link;
    text-decoration: underline;
    cursor: pointer;
}

.brick.dragging {
    opacity: 0.8;
}

.jux_gallery.ul{
    list-style: none;
    margin: 0 0 0 0;
}

.jux_gallery.ul li [class^="icon-"],
[class*=" icon-"]{
    width: 20px;
    height: 20px;
}

.jux-separator {
    margin: 8px 15px 8px 4px;
    border-bottom: 1px solid #e2e2e2;
}
.jux-content{
    border-left: 1px solid #e2e2e2;
}

.jux-content div.tab-content{
    padding: 10px 15px;
}

.container-fluid.fileupload-buttonbar{
    border-top: 1px solid #e8e8e8;
    margin: 0px 15px 8px 0px; 
    background: #f1f1f1;
    border-left: 1px solid #e8e8e8;
}

.container-fluid.fileupload-buttonbar div.jux-button-group > .jux-button {
    margin-right: 0px !important; 
}

#saveOrderItems > .jux-button{
    margin-right: 0px !important; 
}

#saveOrderItems{
    /*display: none;*/
    padding-bottom: 10px;
}

/*Caption Hover*/

caption {
    /*coordinated marking to match cell's padding*/
    margin-bottom:.5em;
    /*centered so it doesn't blend in to other content*/
    text-align:center;
}

#allAlbum{
    font: 10pt normal Arial, sans-serif;
    height: auto;
    margin: 30px auto 0 auto;
    text-align: center;
    width: 100%;
}
#allAlbum .boxs{
    position: relative;
    float: left;
    height: 172px;
    width: 192px;
    margin: 5px;
    padding: 10px;
}
#allAlbum .box{
    border: 5px solid #fff;
    cursor: pointer;
    height: 172px;
    float: left;
    position: absolute;
    overflow: hidden;
    width: 192px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#allAlbum .box.even{
    -webkit-transform: rotate(4deg);
}
#allAlbum .box.odd{
    -webkit-transform: rotate(-4deg);
}

#allAlbum .box img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}

.numOfImages{
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 12px;
    background: #000;
    background: rgba(0,0,0,.5);
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 7px 18px;
    line-height: 1;
    z-index: 7;
}


/* Copied*/
.copied{
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    color: #fff;
    z-index:100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
    top: -37px;
    left: 0px;
    width: 223px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    line-height: 28px;
}

.copied .copy-notice{
    opacity: 0;
    width: 200px;
    height: 20px;
    text-align: left;
    padding: 15px;
}

/** Caption : Scale **/

#allAlbum .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
    left: 0;
}
#allAlbum .box .scale-caption  {
    opacity: 0;
    width: 170px;
    height: 170px;
    text-align: left;
    padding: 15px;
}

#allAlbum .box .scale-caption h3, #allAlbum .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 170px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}

#allAlbum .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;	
    transition-delay: 300ms;
}

#allAlbum .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;	
    transition-delay: 500ms;
}

/** Scale Caption :hover Behaviour **/
#allAlbum .box:hover .scale-caption  {
    opacity: 1;
}

#allAlbum .box:hover .itemImage {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#allAlbum .box:hover .scale-caption h3, #allAlbum .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes bounceOut {
    0% {
    -webkit-transform: scale(1);
}	25% {
    -webkit-transform: scale(.95);
}

50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
}

100% {
    opacity: 0;
    -webkit-transform: scale(.3);
}	
}

@-moz-keyframes bounceOut {
    0% {
    -moz-transform: scale(1);
}

25% {
    -moz-transform: scale(.95);
}

50% {
    opacity: 1;
    -moz-transform: scale(1.1);
}

100% {
    opacity: 0;
    -moz-transform: scale(.3);
}	
}

@-o-keyframes bounceOut {
    0% {
    -o-transform: scale(1);
}

25% {
    -o-transform: scale(.95);
}

50% {
    opacity: 1;
    -o-transform: scale(1.1);
}

100% {
    opacity: 0;
    -o-transform: scale(.3);
}	
}

@keyframes bounceOut {
    0% {
    transform: scale(1);
}

25% {
    transform: scale(.95);
}

50% {
    opacity: 1;
    transform: scale(1.1);
}

100% {
    opacity: 0;
    transform: scale(.3);
}	
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
    -o-animation-name: bounceOut;
    animation-name: bounceOut;
}
@-webkit-keyframes bounceInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
}	60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
}

80% {
    -webkit-transform: translateX(-10px);
}

100% {
    -webkit-transform: translateX(0);
}
}

@-moz-keyframes bounceInLeft {
    0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
}

60% {
    opacity: 1;
    -moz-transform: translateX(30px);
}

80% {
    -moz-transform: translateX(-10px);
}

100% {
    -moz-transform: translateX(0);
}
}

@-o-keyframes bounceInLeft {
    0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
}

60% {
    opacity: 1;
    -o-transform: translateX(30px);
}

80% {
    -o-transform: translateX(-10px);
}

100% {
    -o-transform: translateX(0);
}
}

@keyframes bounceInLeft {
    0% {
    opacity: 0;
    transform: translateX(-2000px);
}

60% {
    opacity: 1;
    transform: translateX(30px);
}

80% {
    transform: translateX(-10px);
}

100% {
    transform: translateX(0);
}
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
    0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
}

60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
}

80% {
    -webkit-transform: translateX(10px);
}

100% {
    -webkit-transform: translateX(0);
}
}

@-moz-keyframes bounceInRight {
    0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
}

60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
}

80% {
    -moz-transform: translateX(10px);
}

100% {
    -moz-transform: translateX(0);
}
}

@-o-keyframes bounceInRight {
    0% {
    opacity: 0;
    -o-transform: translateX(2000px);
}

60% {
    opacity: 1;
    -o-transform: translateX(-30px);
}

80% {
    -o-transform: translateX(10px);
}

100% {
    -o-transform: translateX(0);
}
}

@keyframes bounceInRight {
    0% {
    opacity: 0;
    transform: translateX(2000px);
}

60% {
    opacity: 1;
    transform: translateX(-30px);
}

80% {
    transform: translateX(10px);
}

100% {
    transform: translateX(0);
}
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
