/* Created by Artisteer v4.2.0.60623 */

.gidra-header, #gidra-header-bg, .gidra-layout-cell, .gidra-layout-wrapper, .gidra-footer, .gidra-nav, #gidra-hmenu-bg, .gidra-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.gidra-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.gidra-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#gidra-header-bg 
{
   display: none;
}

.gidra-hmenu>li, .gidra-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.gidra-hmenu, ul.gidra-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#gidra-hmenu-bg 
{
   display: none;
}

ul.gidra-hmenu>li:first-child {
   padding-right:10px;
}

ul.gidra-hmenu ul, .desktop-nav ul.gidra-hmenu>li.ext:hover>a{
   background-color: #43383B !important;
}

.gidra-content-layout, .gidra-content-layout-row, .gidra-layout-cell 
{
   display: block;
   zoom: 1;
}
.gidra-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.gidra-vmenu, ul.gidra-vmenu ul, ul.gidra-vmenu li{
   zoom: 1;
}

ul.gidra-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.gidra-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.gidra-search div>input[type="text"]
{
   width: 100%;
}

* html form.gidra-search>input[type="text"] 
{
   margin :0;
}

form.gidra-search
{
   zoom: 1;
}
.gidra-postheadericons span{
   zoom: 1;
}
.gidra-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.gidra-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='gidra-sidebar1-bg' + (className.indexOf('gidra-sidebar1-fix') == -1 ? '' : ' gidra-sidebar1-bg-fix' ));
}

.gidra-sidebar1-bg 
{
   border-right:1px dotted #B5B5B5;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 275px;
   overflow:hidden;
   display:block;
}

.gidra-content 
{
   width: auto;
   float:none;
}

