#gidra-main
{
  background: #FFFFFF url('../images/page.png') no-repeat fixed;
  margin: 0 auto;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.gidra-hmenu
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.gidra-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #26AAE3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
  height: 25px;
}

.gidra-postcontent, .gidra-postheadericons, .gidra-postfootericons, .gidra-blockcontent, ul.gidra-vmenu a
{
  text-align: left;
}

.gidra-postcontent, .gidra-postcontent li, .gidra-postcontent table, .gidra-postcontent a, .gidra-postcontent a:link, .gidra-postcontent a:visited, .gidra-postcontent a.visited, .gidra-postcontent a:hover, .gidra-postcontent a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: justify;
  line-height: 175%;
}

.gidra-postcontent p
{
  margin: 13px 0;
}

.gidra-postcontent h1, .gidra-postcontent h1 a, .gidra-postcontent h1 a:link, .gidra-postcontent h1 a:visited, .gidra-postcontent h1 a:hover, .gidra-postcontent h2, .gidra-postcontent h2 a, .gidra-postcontent h2 a:link, .gidra-postcontent h2 a:visited, .gidra-postcontent h2 a:hover, .gidra-postcontent h3, .gidra-postcontent h3 a, .gidra-postcontent h3 a:link, .gidra-postcontent h3 a:visited, .gidra-postcontent h3 a:hover, .gidra-postcontent h4, .gidra-postcontent h4 a, .gidra-postcontent h4 a:link, .gidra-postcontent h4 a:visited, .gidra-postcontent h4 a:hover, .gidra-postcontent h5, .gidra-postcontent h5 a, .gidra-postcontent h5 a:link, .gidra-postcontent h5 a:visited, .gidra-postcontent h5 a:hover, .gidra-postcontent h6, .gidra-postcontent h6 a, .gidra-postcontent h6 a:link, .gidra-postcontent h6 a:visited, .gidra-postcontent h6 a:hover, .gidra-blockheader .t, .gidra-blockheader .t a, .gidra-blockheader .t a:link, .gidra-blockheader .t a:visited, .gidra-blockheader .t a:hover, .gidra-vmenublockheader .t, .gidra-vmenublockheader .t a, .gidra-vmenublockheader .t a:link, .gidra-vmenublockheader .t a:visited, .gidra-vmenublockheader .t a:hover, .gidra-headline, .gidra-headline a, .gidra-headline a:link, .gidra-headline a:visited, .gidra-headline a:hover, .gidra-slogan, .gidra-slogan a, .gidra-slogan a:link, .gidra-slogan a:visited, .gidra-slogan a:hover, .gidra-postheader, .gidra-postheader a, .gidra-postheader a:link, .gidra-postheader a:visited, .gidra-postheader a:hover
{
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.gidra-postcontent a, .gidra-postcontent a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #43383B;
}

.gidra-postcontent a:visited, .gidra-postcontent a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #808080;
}

.gidra-postcontent  a:hover, .gidra-postcontent a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #52B9E5;
}

.gidra-postcontent h1
{
  color: #43383B;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h1 a, .gidra-postcontent h1 a:link, .gidra-postcontent h1 a:hover, .gidra-postcontent h1 a:visited, .gidra-blockcontent h1 a, .gidra-blockcontent h1 a:link, .gidra-blockcontent h1 a:hover, .gidra-blockcontent h1 a:visited
{
  font-size: 26px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h2
{
  color: #3B3B3B;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h2 a, .gidra-postcontent h2 a:link, .gidra-postcontent h2 a:hover, .gidra-postcontent h2 a:visited, .gidra-blockcontent h2 a, .gidra-blockcontent h2 a:link, .gidra-blockcontent h2 a:hover, .gidra-blockcontent h2 a:visited
{
  font-size: 22px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h3
{
  color: #43383B;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h3 a, .gidra-postcontent h3 a:link, .gidra-postcontent h3 a:hover, .gidra-postcontent h3 a:visited, .gidra-blockcontent h3 a, .gidra-blockcontent h3 a:link, .gidra-blockcontent h3 a:hover, .gidra-blockcontent h3 a:visited
{
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h4
{
  color: #725F65;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h4 a, .gidra-postcontent h4 a:link, .gidra-postcontent h4 a:hover, .gidra-postcontent h4 a:visited, .gidra-blockcontent h4 a, .gidra-blockcontent h4 a:link, .gidra-blockcontent h4 a:hover, .gidra-blockcontent h4 a:visited
{
  font-size: 18px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h5
{
  color: #725F65;
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h5 a, .gidra-postcontent h5 a:link, .gidra-postcontent h5 a:hover, .gidra-postcontent h5 a:visited, .gidra-blockcontent h5 a, .gidra-blockcontent h5 a:link, .gidra-blockcontent h5 a:hover, .gidra-blockcontent h5 a:visited
{
  font-size: 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h6
{
  color: #808080;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-postcontent h6 a, .gidra-postcontent h6 a:link, .gidra-postcontent h6 a:hover, .gidra-postcontent h6 a:visited, .gidra-blockcontent h6 a, .gidra-blockcontent h6 a:link, .gidra-blockcontent h6 a:hover, .gidra-blockcontent h6 a:visited
{
  font-size: 13px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #gidra-hmenu-bg, .gidra-sheet, .gidra-hmenu a, .gidra-vmenu a, .gidra-slidenavigator > a, .gidra-checkbox:before, .gidra-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #gidra-hmenu-bg, .gidra-sheet, .gidra-slidenavigator > a, .gidra-checkbox:before, .gidra-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html
{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1100px;
  color: #000000;
}

.gidra-header:before, #gidra-header-bg:before, .gidra-layout-cell:before, .gidra-layout-wrapper:before, .gidra-footer:before, .gidra-nav:before, #gidra-hmenu-bg:before, .gidra-sheet:before
{
  width: 100%;
  content: " ";
  display: table;
}

.gidra-header:after, #gidra-header-bg:after, .gidra-layout-cell:after, .gidra-layout-wrapper:after, .gidra-footer:after, .gidra-nav:after, #gidra-hmenu-bg:after, .gidra-sheet:after, .cleared, .clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .gidra-postcontent li h1, .gidra-blockcontent li h1
{
  margin: 1px;
}

li h2, .gidra-postcontent li h2, .gidra-blockcontent li h2
{
  margin: 1px;
}

li h3, .gidra-postcontent li h3, .gidra-blockcontent li h3
{
  margin: 1px;
}

li h4, .gidra-postcontent li h4, .gidra-blockcontent li h4
{
  margin: 1px;
}

li h5, .gidra-postcontent li h5, .gidra-blockcontent li h5
{
  margin: 1px;
}

li h6, .gidra-postcontent li h6, .gidra-blockcontent li h6
{
  margin: 1px;
}

li p, .gidra-postcontent li p, .gidra-blockcontent li p
{
  margin: 1px;
}

.gidra-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.gidra-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gidra-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.gidra-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.gidra-positioncontrol-1851382471
{
  display: block;
  left: 68.81%;
  margin-left: -178px;
  position: absolute;
  top: 60px;
  width: 260px;
  height: 131px;
  z-index: 103;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.gidra-positioncontrol-1992536674
{
  display: block;
  left: 32.84%;
  margin-left: -95px;
  position: absolute;
  top: 33px;
  width: 290px;
  height: 50px;
  z-index: 104;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.gidra-positioncontrol-1243119808
{
  display: block;
  left: 100%;
  margin-left: -248px;
  position: absolute;
  top: 59px;
  width: 267px;
  height: 133px;
  z-index: 105;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.gidra-logo-1818670524
{
  position: absolute;
  top: 123px;
  left: 34.38%;
  margin-left: -83px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  width: 242px;
  height: 63px;
}

.gidra-object166416295 h1, .gidra-object166416295 h2, .gidra-object166416295 h3, .gidra-object166416295 h4, .gidra-object166416295 h5, .gidra-object166416295 h6, .gidra-object166416295 p, .gidra-object166416295 a, .gidra-object166416295 ul, .gidra-object166416295 ol, .gidra-object166416295 li
{
  line-height: 38px;
}

.gidra-object166416295
{
  position: absolute;
  top: 11px;
  left: 100%;
  margin-left: -247px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-image: url('../images/object166416295.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  z-index: 101;
  width: 250px;
  height: 38px;
}

.default-responsive .gidra-object166416295
{
  background-image: none;
}

.gidra-header
{
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
  background-image: url('../images/header.png');
  background-position: center top;
}

.custom-responsive .gidra-header
{
  background-image: url('../images/header.png');
  background-position: center top;
}

.default-responsive .gidra-header, .default-responsive #gidra-header-bg
{
  background-image: url('../images/header.png');
  background-position: center center;
  background-size: cover;
}

.gidra-header-inner
{
  position: relative;
  width: 1100px;
  z-index: auto !important;
  margin: 0 auto;
}

.gidra-header>div.gidra-nostyle, .gidra-header>div.gidra-block, .gidra-header>div.gidra-post
{
  position: absolute;
  z-index: 101;
}

.gidra-nav
{
  background: #26AAE3 url('../images/nav.png') bottom left repeat-x scroll;
  background: -webkit-linear-gradient(top, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, -webkit-linear-gradient(top, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, -moz-linear-gradient(top, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, -o-linear-gradient(top, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, -ms-linear-gradient(top, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, linear-gradient(to bottom, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(26, 149, 202, 0.11) 0, rgba(29, 164, 222, 0.1) 15%, rgba(60, 179, 230, 0.17) 40%, rgba(67, 181, 231, 0.18) 50%, rgba(67, 181, 231, 0.18) 100%) no-repeat, url('../images/nav.png') bottom left repeat-x, linear-gradient(top, rgba(28, 157, 212, 0.8) 0, rgba(29, 167, 226, 0.8) 15%, rgba(52, 176, 229, 0.8) 40%, rgba(56, 177, 229, 0.8) 50%, rgba(56, 177, 229, 0.8) 100%) no-repeat;
  border-bottom: 1px dotted rgba(181, 181, 181, 0.8);
  padding: 6px;
  margin: 0 auto;
  position: relative;
  z-index: 499;
}

ul.gidra-hmenu a, ul.gidra-hmenu a:link, ul.gidra-hmenu a:visited, ul.gidra-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.gidra-hmenu, ul.gidra-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.gidra-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.gidra-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.gidra-hmenu:after, ul.gidra-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.gidra-hmenu, ul.gidra-hmenu ul
{
  min-height: 0;
}

ul.gidra-hmenu
{
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}

.gidra-nav-inner:before
{
  content: ' ';
}

.gidra-nav-inner
{
  text-align: left;
  margin: 0 auto;
}

.desktop  .gidra-nav-inner
{
  width: 1100px;
  padding-left: 6px;
  padding-right: 6px;
}

.desktop .gidra-nav
{
  padding-left: 0;
  padding-right: 0;
}

.gidra-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.gidra-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.gidra-hmenu
{
  float: left;
}

.gidra-menuitemcontainer
{
  margin: 0 auto;
}

ul.gidra-hmenu>li
{
  margin-left: 10px;
}

ul.gidra-hmenu>li:first-child
{
  margin-left: 5px;
}

ul.gidra-hmenu>li:last-child, ul.gidra-hmenu>li.last-child
{
  margin-right: 5px;
}

ul.gidra-hmenu>li>a
{
  background: #26AAE3 url('../images/menuitem.png') scroll;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #75C7EA;
  padding: 0 22px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 29px;
  text-align: center;
}

.gidra-hmenu>li>a, .gidra-hmenu>li>a:link, .gidra-hmenu>li>a:visited, .gidra-hmenu>li>a.active, .gidra-hmenu>li>a:hover
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

ul.gidra-hmenu>li>a.active
{
  background: #FFFFFF url('../images/menuactiveitem.png') scroll;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  padding: 0 22px;
  margin: 0 auto;
  color: #3B3B3B;
  text-decoration: none;
}

ul.gidra-hmenu>li>a:visited, ul.gidra-hmenu>li>a:hover, ul.gidra-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.gidra-hmenu>li>a:hover, .desktop ul.gidra-hmenu>li:hover>a
{
  background: #FFFFFF url('../images/menuhovereditem.png') scroll;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  padding: 0 22px;
  margin: 0 auto;
}

ul.gidra-hmenu>li>a:hover, .desktop ul.gidra-hmenu>li:hover>a
{
  color: #43383B;
  text-decoration: none;
}

ul.gidra-hmenu li li a
{
  background: #C7C7C7;
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 17px;
  margin: 0 auto;
}

ul.gidra-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop ul.gidra-hmenu li li ul>li:first-child
{
  margin-top: 2px;
}

ul.gidra-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.gidra-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 31px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 31px;
  color: #FFFFFF;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin: 0;
}

.gidra-hmenu ul a:link, .gidra-hmenu ul a:visited, .gidra-hmenu ul a.active, .gidra-hmenu ul a:hover
{
  text-align: left;
  line-height: 31px;
  color: #FFFFFF;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin: 0;
}

.desktop ul.gidra-hmenu>li>ul>li
{
  margin-top: 0;
  margin-bottom: 0;
}

.desktop .gidra-hmenu>li>ul>li>a
{
  font-weight: bold !important;
}

.desktop .gidra-hmenu>li>ul>li
{
  float: left;
}

.desktop .gidra-hmenu>li>ul>li>ul
{
  position: relative;
  left: 0 !important;
  right: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}

.desktop .gidra-hmenu>li:hover>ul>li>ul
{
  visibility: visible;
}

.desktop .gidra-hmenu>li>ul>li>ul:before
{
  visibility: hidden;
}

ul.gidra-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px dotted #1C1719;
}

.desktop ul.gidra-hmenu>li>ul>li:after, .desktop ul.gidra-hmenu>li>ul>li:before
{
  display: none;
}

.desktop ul.gidra-hmenu li li:after
{
  left: 5px;
  right: 5px;
}

ul.gidra-hmenu ul li a:hover
{
  background: #26AAE3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
}

.gidra-hmenu ul a:hover
{
  text-decoration: none;
  color: #3B3B3B;
}

ul.gidra-hmenu ul:before
{
  background: #43383B;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px dotted rgba(217, 217, 217, 0.9);
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop ul.gidra-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop ul.gidra-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.gidra-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop ul.gidra-hmenu>li>ul
{
  padding: 21px 36px 36px 36px;
  margin: -10px 0 0 -30px;
}

.desktop ul.gidra-hmenu ul ul
{
  padding: 36px 36px 36px 18px;
  margin: -36px 0 0 -5px;
}

.desktop ul.gidra-hmenu ul.gidra-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop ul.gidra-hmenu ul.gidra-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop ul.gidra-hmenu li li:hover>ul.gidra-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop ul.gidra-hmenu li li:hover>ul.gidra-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop ul.gidra-hmenu ul ul.gidra-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 36px 36px 36px 18px;
  margin: -36px 0 0 -5px;
}

.desktop ul.gidra-hmenu ul ul.gidra-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 36px 18px 36px 36px;
  margin: -36px -5px 0 0;
}

.desktop ul.gidra-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop ul.gidra-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop ul.gidra-hmenu ul ul:before
{
  border-radius: 3px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 12px;
}

.desktop ul.gidra-hmenu>li>ul:before
{
  top: 15px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop ul.gidra-hmenu>li>ul.gidra-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop ul.gidra-hmenu>li>ul.gidra-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop ul.gidra-hmenu ul ul.gidra-hmenu-left-to-right:before
{
  right: 30px;
  left: 12px;
}

.desktop ul.gidra-hmenu ul ul.gidra-hmenu-right-to-left:before
{
  right: 12px;
  left: 30px;
}

.desktop ul.gidra-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop ul.gidra-hmenu>li.ext>a:hover, .desktop ul.gidra-hmenu>li.ext:hover>a, .desktop ul.gidra-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 1px 23px 1px 23px;
  margin: -0 -0 0 -0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
}

.desktop ul.gidra-hmenu>li.ext>a:hover:before, .desktop ul.gidra-hmenu>li.ext:hover>a:before, .desktop ul.gidra-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  background-color: #43383B;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop ul.gidra-hmenu>li.ext:hover>ul
{
  top: 36px;
  padding-top: 5px;
  margin-top: 0;
}

.desktop ul.gidra-hmenu>li.ext:hover>ul:before
{
  top: -1px;
  clip: rect(6px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.gidra-hmenu>li.ext>.ext-r, ul.gidra-hmenu>li.ext>.ext-l, ul.gidra-hmenu>li.ext>.ext-m, ul.gidra-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop ul.gidra-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop ul.gidra-hmenu>li.ext.ext-r:hover>.ext-r, .desktop ul.gidra-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 6px;
  top: 36px;
  padding-top: 1px;
  margin-top: -1px;
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-r:before, .desktop ul.gidra-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 0;
  bottom: -1px;
  background-color: #43383B;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.gidra-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 1px;
  margin-right: -1px;
}

.desktop ul.gidra-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 0;
  left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
}

.desktop ul.gidra-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 1px;
  margin-left: -1px;
}

.desktop ul.gidra-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -1px;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 3px;
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-m, .desktop ul.gidra-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 5px;
  top: 100%;
}

.desktop ul.gidra-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -0;
  right: 0;
  padding-right: 0;
  padding-left: 0;
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-off
{
  left: -0;
  right: -0;
  padding-left: 0;
  padding-right: 0;
  height: 6px;
}

.desktop ul.gidra-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.desktop ul.gidra-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -0;
  left: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-m
{
  top: 36px;
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-off:before
{
  right: 0;
  left: 0;
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  background-color: #43383B;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.gidra-hmenu>li.ext:hover>.ext-m:before
{
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  background-color: #43383B;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.gidra-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -1px;
  left: 0;
}

.desktop ul.gidra-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -1px;
  right: 0;
}

.desktop ul.gidra-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -1px;
  right: -1px;
}

.gidra-sheet
{
  background: #FFFFFF url('../images/sheet.png') scroll;
  background: rgba(255, 255, 255, 0.9) url('../images/sheet.png') scroll;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.13);
  border: 2px solid rgba(38, 170, 227, 0.8);
  border-left: none;
  border-right: none;
  margin: 10px auto 0;
  position: relative;
  cursor: auto;
  width: 1100px;
  z-index: auto !important;
}

.gidra-layout-wrapper
{
  position: relative;
  margin: 10px auto 0 auto;
  z-index: auto !important;
}

.gidra-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.gidra-content-layout-row
{
  display: table-row;
}

.gidra-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.gidra-postcontent .gidra-content-layout
{
  border-collapse: collapse;
}

.gidra-vmenublock
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
}

div.gidra-vmenublock img
{
  margin: 0;
}

.gidra-vmenublockheader
{
  background: #26AAE3 url('../images/vmenublockheader.png') scroll;
  background: -webkit-linear-gradient(top, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), -webkit-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), -moz-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), -o-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), -ms-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), linear-gradient(to bottom, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(43, 172, 227, 0.09) 0, rgba(83, 188, 233, 0.12) 15%, rgba(50, 175, 228, 0.09) 50%, rgba(28, 162, 219, 0.05) 50%, rgba(26, 147, 199, 0.06) 50%, rgba(28, 162, 219, 0.05) 80%, rgba(36, 169, 227, 0.04) 100%) no-repeat, url('../images/vmenublockheader.png'), linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 0;
  margin: 0 auto 7px;
}

.gidra-vmenublockheader .t, .gidra-vmenublockheader .t a, .gidra-vmenublockheader .t a:link, .gidra-vmenublockheader .t a:visited, .gidra-vmenublockheader .t a:hover
{
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 10px;
}

.gidra-vmenublockheader .t:before
{
  content: url('../images/vmenublockheadericon.png');
  margin-right: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gidra-vmenublockheader .t:before
{
  bottom: 0;
}

.gidra-vmenublockcontent
{
  margin: 0 auto;
}

ul.gidra-vmenu, ul.gidra-vmenu ul
{
  list-style: none;
  display: block;
}

ul.gidra-vmenu, ul.gidra-vmenu li
{
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.gidra-vmenu
{
  margin-top: 0;
  margin-bottom: 0;
}

ul.gidra-vmenu ul
{
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.gidra-vmenu ul.active
{
  display: block;
}

ul.gidra-vmenu>li>a
{
  background: #43383B;
  background: -webkit-linear-gradient(top, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  background: -moz-linear-gradient(top, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  background: -o-linear-gradient(top, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  background: -ms-linear-gradient(top, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  background: linear-gradient(to bottom, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  -svg-background: linear-gradient(top, #453A3E 0, #594A4F 15%, #483C40 50%, #352C2F 50%, #43383B 100%) no-repeat;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  min-height: 34px;
  line-height: 34px;
}

ul.gidra-vmenu a
{
  display: block;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

ul.gidra-vmenu li
{
  position: relative;
}

ul.gidra-vmenu>li
{
  margin-top: 5px;
}

ul.gidra-vmenu>li>ul
{
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.gidra-vmenu>li:first-child
{
  margin-top: 0;
}

ul.gidra-vmenu>li>a:before
{
  background: url('../images/vmenuitemicon.png') no-repeat center;
  content: '.';
  text-indent: 10px;
  overflow: hidden;
  width: 10px;
  min-height: 5px;
  float: right;
}

ul.gidra-vmenu>li>a.active:before
{
  background: url('../images/vmenuactiveitemicon.png') no-repeat center;
  content: '.';
  text-indent: 10px;
  overflow: hidden;
  width: 10px;
  min-height: 5px;
  float: right;
}

ul.gidra-vmenu>li>a:hover:before, ul.gidra-vmenu>li>a.active:hover:before, ul.gidra-vmenu>li:hover>a:before, ul.gidra-vmenu>li:hover>a.active:before
{
  background: url('../images/vmenuhovereditemicon.png') no-repeat center;
  content: '.';
  text-indent: 10px;
  overflow: hidden;
  width: 10px;
  min-height: 5px;
  float: right;
}

ul.gidra-vmenu>li>a:hover, ul.gidra-vmenu>li>a.active:hover
{
  background: #40B2E2;
  background: -webkit-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -moz-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -o-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -ms-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: linear-gradient(to bottom, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  -svg-background: linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  padding: 0 15px;
  margin: 0 auto;
}

ul.gidra-vmenu>li>a:hover, ul.gidra-vmenu>li>a.active:hover
{
  text-decoration: none;
}

ul.gidra-vmenu a:hover, ul.gidra-vmenu a.active:hover
{
  color: #000000;
}

ul.gidra-vmenu>li>a.active:hover>span.border-top, ul.gidra-vmenu>li>a.active:hover>span.border-bottom
{
  background-color: transparent;
}

ul.gidra-vmenu>li>a.active
{
  background: #40B2E2;
  background: -webkit-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -moz-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -o-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: -ms-linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  background: linear-gradient(to bottom, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  -svg-background: linear-gradient(top, #45B4E3 0, #5FBEE7 15%, #49B5E4 50%, #2AA9DF 50%, #40B2E2 100%) no-repeat;
  padding: 0 15px;
  margin: 0 auto;
  text-decoration: none;
  color: #FFFFFF;
}

ul.gidra-vmenu>li:after, ul.gidra-vmenu>li>ul:after
{
  display: block;
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: -5px;
}

ul.gidra-vmenu>li:after, ul.gidra-vmenu>li>ul:after
{
  z-index: 1;
  height: 2px;
  border-bottom: 1px ridge #D9D9D9;
}

ul.gidra-vmenu>li:first-child:before, ul.gidra-vmenu>li:first-child:after
{
  display: none;
}

ul.gidra-vmenu>li>ul:before
{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul.gidra-vmenu li li a
{
  margin: 0 auto;
  position: relative;
}

ul.gidra-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.gidra-vmenu li li
{
  position: relative;
  margin-top: 7px;
}

ul.gidra-vmenu ul a
{
  display: block;
  position: relative;
  min-height: 34px;
  overflow: visible;
  padding: 0;
  padding-left: 27px;
  padding-right: 27px;
  z-index: 0;
  line-height: 34px;
  color: #3B3B3B;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.gidra-vmenu ul a:visited, ul.gidra-vmenu ul a.active:hover, ul.gidra-vmenu ul a:hover, ul.gidra-vmenu ul a.active
{
  line-height: 34px;
  color: #3B3B3B;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.gidra-vmenu ul ul a
{
  padding-left: 54px;
}

ul.gidra-vmenu ul ul ul a
{
  padding-left: 81px;
}

ul.gidra-vmenu ul ul ul ul a
{
  padding-left: 108px;
}

ul.gidra-vmenu ul ul ul ul ul a
{
  padding-left: 135px;
}

ul.gidra-vmenu ul>li>a:hover, ul.gidra-vmenu ul>li>a.active:hover
{
  background: #26AAE3;
  margin: 0 auto;
}

ul.gidra-vmenu ul li a:hover, ul.gidra-vmenu ul li a.active:hover
{
  text-decoration: none;
  color: #FFFFFF;
}

ul.gidra-vmenu ul a:hover:after
{
  background-position: center;
}

ul.gidra-vmenu ul a.active:hover:after
{
  background-position: center;
}

ul.gidra-vmenu ul a.active:after
{
  background-position: bottom;
}

ul.gidra-vmenu ul>li>a.active
{
  background: #26AAE3;
  margin: 0 auto;
}

ul.gidra-vmenu ul a.active, ul.gidra-vmenu ul a:hover, ul.gidra-vmenu ul a.active:hover
{
  text-decoration: none;
  color: #3B3B3B;
}

ul.gidra-vmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 3px;
  top: -7px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #DFD8DA;
}

ul.gidra-vmenu li li:before
{
  display: block;
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: -7px;
  z-index: 0;
  height: 7px;
}

ul.gidra-vmenu>li>ul>li:first-child:before, ul.gidra-vmenu>li>ul>li:first-child:after
{
  display: none;
}

.gidra-block
{
  background: #F2F2F2;
  margin: 3px;
}

div.gidra-block img
{
  border: none;
  margin: 0;
}

.gidra-blockheader
{
  background: #26AAE3;
  background: -webkit-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -moz-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -o-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: -ms-linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  background: linear-gradient(to bottom, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  -svg-background: linear-gradient(top, #2BACE3 0, #46B7E7 15%, #2FAEE4 50%, #1DA7E2 50%, #1C9DD4 50%, #1DA7E2 80%, #26AAE3 100%) no-repeat;
  padding: 6px 5px;
  margin: 0 auto 2px;
}

.gidra-blockheader .t, .gidra-blockheader .t a, .gidra-blockheader .t a:link, .gidra-blockheader .t a:visited, .gidra-blockheader .t a:hover
{
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 5px;
}

.gidra-blockcontent
{
  padding: 5px;
  margin: 0 auto;
  color: #000000;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.gidra-blockcontent table, .gidra-blockcontent li, .gidra-blockcontent a, .gidra-blockcontent a:link, .gidra-blockcontent a:visited, .gidra-blockcontent a:hover
{
  color: #000000;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.gidra-blockcontent p
{
  margin: 0 5px;
}

.gidra-blockcontent a, .gidra-blockcontent a:link
{
  color: #49B5E4;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.gidra-blockcontent a:visited, .gidra-blockcontent a.visited
{
  color: #B7A9AE;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.gidra-blockcontent a:hover, .gidra-blockcontent a.hover
{
  color: #209FD5;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.gidra-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -12px;
}

.opera .gidra-block ul>li:before
{
  bottom: 0;
}

.gidra-block li
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  color: #000000;
  margin: 5px 0 0 10px;
}

.gidra-block ul>li, .gidra-block ol
{
  padding: 0;
}

.gidra-block ul>li
{
  padding-left: 12px;
}

.gidra-breadcrumbs
{
  margin: 0 auto;
}

a.gidra-button, a.gidra-button:link, a:link.gidra-button:link, body a.gidra-button:link, a.gidra-button:visited, body a.gidra-button:visited, input.gidra-button, button.gidra-button
{
  text-decoration: none;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 5px 0 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 25px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.gidra-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .gidra-button
{
  display: block;
  float: left;
}

input, select, textarea, a.gidra-search-button span
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.gidra-block select
{
  width: 96%;
}

input.gidra-button
{
  float: none !important;
  -webkit-appearance: none;
}

.gidra-button.active, .gidra-button.active:hover
{
  background: #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
}

.gidra-button.active, .gidra-button.active:hover
{
  color: #FFFFFF !important;
}

.gidra-button.hover, .gidra-button:hover
{
  background: #A6A6A6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
}

.gidra-button.hover, .gidra-button:hover
{
  color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #594A4F !important;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

input.gidra-error, textarea.gidra-error
{
  background: #FAFAFA;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.gidra-error, textarea.gidra-error
{
  color: #594A4F !important;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.gidra-search input[type="text"]
{
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(199, 199, 199, 0.5);
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000 !important;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.gidra-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
  width: 250px;
}

form.gidra-search input, a.gidra-search-button
{
  -webkit-appearance: none;
  top: 0;
  right: 0;
}

form.gidra-search>input, a.gidra-search-button
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.gidra-search input[type="submit"], input.gidra-search-button, a.gidra-search-button
{
  border-radius: 0;
  margin: 0 auto;
}

form.gidra-search input[type="submit"], input.gidra-search-button, a.gidra-search-button
{
  position: absolute;
  left: auto;
  display: block;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
  color: #FFFFFF !important;
  cursor: pointer;
}

a.gidra-search-button span.gidra-search-button-text
{
  display: none;
}

label.gidra-checkbox:before
{
  background: #FAFAFA;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.gidra-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
  color: #404040 !important;
}

.gidra-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.gidra-checkbox.active:before
{
  background: #75C7EA;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.gidra-checkbox.hovered:before
{
  background: #E0E0E0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.gidra-radiobutton:before
{
  background: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.gidra-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
  color: #404040 !important;
}

.gidra-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.gidra-radiobutton.active:before
{
  background: #C7C7C7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.gidra-radiobutton.hovered:before
{
  background: #E0E0E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.gidra-comments
{
  border-top: 1px dotted #B5B5B5;
  margin: 0 auto;
  margin-top: 25px;
}

.gidra-comments h2
{
  color: #292929;
}

.gidra-comment-inner
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 auto;
  margin-left: 96px;
}

.gidra-comment-avatar
{
  float: left;
  width: 80px;
  height: 80px;
  padding: 2px;
  background: #fff;
  border: 1px solid #E8E8E8;
}

.gidra-comment-avatar>img
{
  margin: 0 !important;
  border: none !important;
}

.gidra-comment-content
{
  padding: 10px 0;
  color: #453A3E;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.gidra-comment
{
  margin-top: 6px;
}

.gidra-comment:first-child
{
  margin-top: 0;
}

.gidra-comment-header
{
  color: #292929;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.gidra-comment-header a, .gidra-comment-header a:link, .gidra-comment-header a:visited, .gidra-comment-header a.visited, .gidra-comment-header a:hover, .gidra-comment-header a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.gidra-comment-header a, .gidra-comment-header a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  color: #878787;
}

.gidra-comment-header a:visited, .gidra-comment-header a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #878787;
}

.gidra-comment-header a:hover, .gidra-comment-header a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #878787;
}

.gidra-comment-content a, .gidra-comment-content a:link, .gidra-comment-content a:visited, .gidra-comment-content a.visited, .gidra-comment-content a:hover, .gidra-comment-content a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.gidra-comment-content a, .gidra-comment-content a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #1B87B6;
}

.gidra-comment-content a:visited, .gidra-comment-content a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #5C4D52;
}

.gidra-comment-content a:hover, .gidra-comment-content a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #1B87B6;
}

.gidra-pager
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px;
  margin: 2px;
}

.gidra-pager>*:last-child
{
  margin-right: 0 !important;
}

.gidra-pager>span
{
  cursor: default;
}

.gidra-pager>*
{
  background: #E0E0E0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 4px 0 auto;
  line-height: normal;
  position: relative;
  display: inline-block;
  margin-left: 0;
}

.gidra-pager a:link, .gidra-pager a:visited, .gidra-pager .active
{
  line-height: normal;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #212121;
}

.gidra-pager .active
{
  background: #BFBFBF;
  padding: 10px;
  margin: 0 4px 0 auto;
  color: #FFFFFF;
}

.gidra-pager .more
{
  background: #E0E0E0;
  margin: 0 4px 0 auto;
}

.gidra-pager a.more:link, .gidra-pager a.more:visited
{
  color: #092B3A;
}

.gidra-pager a:hover
{
  background: #C7C7C7;
  padding: 10px;
  margin: 0 4px 0 auto;
}

.gidra-pager  a:hover, .gidra-pager  a.more:hover
{
  text-decoration: none;
  color: #292929;
}

.gidra-pager>*:after
{
  margin: 0 0 0 auto;
  display: inline-block;
  position: absolute;
  content: ' ';
  top: 0;
  width: 0;
  height: 100%;
  right: 0;
  text-decoration: none;
}

.gidra-pager>*:last-child:after
{
  display: none;
}

.gidra-commentsform
{
  background: #E8E8E8;
  background: transparent;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  color: #292929;
}

.gidra-commentsform h2
{
  padding-bottom: 10px;
  margin: 0;
  color: #292929;
}

.gidra-commentsform label
{
  display: inline-block;
  line-height: 25px;
}

.gidra-commentsform input:not([type=submit]), .gidra-commentsform textarea
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.gidra-commentsform .form-submit
{
  margin-top: 10px;
}

.gidra-post
{
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

a img
{
  border: 0;
}

.gidra-article img, img.gidra-article, .gidra-block img, .gidra-footer img
{
  margin: 7px 7px 7px 7px;
}

.gidra-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.gidra-article table, table.gidra-article
{
  border-collapse: collapse;
  margin: 1px;
}

.gidra-post .gidra-content-layout-br
{
  height: 0;
}

.gidra-article th, .gidra-article td
{
  padding: 2px;
  border: solid 1px #26AAE3;
  vertical-align: top;
  text-align: left;
}

.gidra-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.gidra-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.gidra-postheader
{
  color: #43383B;
  margin: 5px 10px;
  font-size: 24px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.gidra-postheader a, .gidra-postheader a:link, .gidra-postheader a:visited, .gidra-postheader a.visited, .gidra-postheader a:hover, .gidra-postheader a.hovered
{
  font-size: 24px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.gidra-postheader a, .gidra-postheader a:link
{
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #56BBE6;
}

.gidra-postheader a:visited, .gidra-postheader a.visited
{
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #978289;
}

.gidra-postheader a:hover, .gidra-postheader a.hovered
{
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #52B9E5;
}

.gidra-postheadericons, .gidra-postheadericons a, .gidra-postheadericons a:link, .gidra-postheadericons a:visited, .gidra-postheadericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #26AAE3;
}

.gidra-postheadericons
{
  padding: 1px;
  margin: 0 0 0 10px;
}

.gidra-postheadericons a, .gidra-postheadericons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #45B4E3;
}

.gidra-postheadericons a:visited, .gidra-postheadericons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #3B3B3B;
}

.gidra-postheadericons a:hover, .gidra-postheadericons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color: #1E98CC;
}

.gidra-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gidra-postdateicon:before
{
  bottom: 0;
}

.gidra-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gidra-postauthoricon:before
{
  bottom: 0;
}

.gidra-postediticon:before
{
  content: url('../images/system/edit.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .gidra-postediticon:before
{
  bottom: 0;
}

.gidra-postcontent ul>li:before, .gidra-post ul>li:before, .gidra-textblock ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .gidra-postcontent ul>li:before, .opera   .gidra-post ul>li:before, .opera   .gidra-textblock ul>li:before
{
  bottom: 0;
}

.gidra-postcontent li, .gidra-post li, .gidra-textblock li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #000000;
  margin: 3px 0 0 11px;
}

.gidra-postcontent ul>li, .gidra-post ul>li, .gidra-textblock ul>li, .gidra-postcontent ol, .gidra-post ol, .gidra-textblock ol
{
  padding: 0;
}

.gidra-postcontent ul>li, .gidra-post ul>li, .gidra-textblock ul>li
{
  padding-left: 11px;
}

.gidra-postcontent ul>li:before, .gidra-post ul>li:before, .gidra-textblock ul>li:before
{
  margin-left: -11px;
}

.gidra-postcontent ol, .gidra-post ol, .gidra-textblock ol, .gidra-postcontent ul, .gidra-post ul, .gidra-textblock ul
{
  margin: 1em 0 1em 11px;
}

.gidra-postcontent li ol, .gidra-post li ol, .gidra-textblock li ol, .gidra-postcontent li ul, .gidra-post li ul, .gidra-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.gidra-postcontent li, .gidra-post li, .gidra-textblock li
{
  margin: 3px 0 0 0;
}

.gidra-postcontent ol>li, .gidra-post ol>li, .gidra-textblock ol>li
{
  overflow: visible;
}

.gidra-postcontent ul>li, .gidra-post ul>li, .gidra-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #F2F2F2 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .gidra-postcontent blockquote a, .gidra-blockcontent blockquote a, .gidra-footer blockquote a, blockquote a:link, .gidra-postcontent blockquote a:link, .gidra-blockcontent blockquote a:link, .gidra-footer blockquote a:link, blockquote a:visited, .gidra-postcontent blockquote a:visited, .gidra-blockcontent blockquote a:visited, .gidra-footer blockquote a:visited, blockquote a:hover, .gidra-postcontent blockquote a:hover, .gidra-blockcontent blockquote a:hover, .gidra-footer blockquote a:hover
{
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .gidra-postcontent blockquote p, .gidra-blockcontent blockquote p, .gidra-footer blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.Sorter img
{
  border: 0;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  position: static;
  z-index: 1;
  width: 12px;
  height: 6px;
}

.Sorter a
{
  position: relative;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:visited, .Sorter a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #757575;
}

.Sorter a:hover, .Sorter a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #595959;
}

.Sorter
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #404040;
}

.gidra-footer
{
  background: #000000 url('../images/footer.png') scroll;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), -webkit-linear-gradient(top, #000000 0, #404040 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), -moz-linear-gradient(top, #000000 0, #404040 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), -o-linear-gradient(top, #000000 0, #404040 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), -ms-linear-gradient(top, #000000 0, #404040 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), linear-gradient(to bottom, #000000 0, #404040 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(0, 0, 0, 0.14) 0, rgba(96, 96, 96, 0.2) 100%) no-repeat, url('../images/footer.png'), linear-gradient(top, #000000 0, #404040 100%) no-repeat;
  border-top: 4px dotted #26AAE3;
  margin: 0 auto;
  position: relative;
  color: #FFFFFF;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: left;
  padding: 0;
}

.gidra-footer a, .gidra-footer a:link, .gidra-footer a:visited, .gidra-footer a:hover, .gidra-footer td, .gidra-footer th, .gidra-footer caption
{
  color: #FFFFFF;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.gidra-footer p
{
  padding: 0;
  text-align: left;
}

.gidra-footer a, .gidra-footer a:link
{
  color: #52B9E5;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.gidra-footer a:visited
{
  color: #8B747C;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.gidra-footer a:hover
{
  color: #52B9E5;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.gidra-footer h1
{
  color: #26AAE3;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer h2
{
  color: #B5B5B5;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer h3
{
  color: #40B2E2;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer h4
{
  color: #99858B;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer h5
{
  color: #99858B;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer h6
{
  color: #99858B;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.gidra-footer img
{
  border: none;
  margin: 0;
}

.gidra-footer-inner
{
  margin: 0 auto;
  width: 1100px;
  padding: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.gidra-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-rss-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-facebook-tag-icon
{
  background: url('../images/footerfacebookicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-facebook-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-twitter-tag-icon
{
  background: url('../images/footertwittericon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-twitter-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-tumblr-tag-icon
{
  background: url('../images/tumblricon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-tumblr-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-pinterest-tag-icon
{
  background: url('../images/pinteresticon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-pinterest-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-vimeo-tag-icon
{
  background: url('../images/vimeoicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-vimeo-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-youtube-tag-icon
{
  background: url('../images/youtubeicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-youtube-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-linkedin-tag-icon
{
  background: url('../images/linkedinicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
  vertical-align: middle;
}

.gidra-linkedin-tag-icon:empty
{
  vertical-align: middle;
}

.gidra-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -13px;
}

.opera .gidra-footer ul>li:before
{
  bottom: 0;
}

.gidra-footer li
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #B4E0F4;
}

.gidra-footer ul>li, .gidra-footer ol
{
  padding: 0;
}

.gidra-footer ul>li
{
  padding-left: 13px;
}

.gidra-page-footer, .gidra-page-footer a, .gidra-page-footer a:link, .gidra-page-footer a:visited, .gidra-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #C2C2C2;
}

.gidra-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #AE9EA3;
}

.gidra-lightbox-wrapper
{
  background: #333;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  padding: 0 100px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000000;
}

.gidra-lightbox, .gidra-lightbox-wrapper .gidra-lightbox-image
{
  cursor: pointer;
}

.gidra-lightbox-wrapper .gidra-lightbox-image
{
  border: 6px solid #fff;
  border-radius: 3px;
  display: none;
  max-width: 100%;
  vertical-align: middle;
}

.gidra-lightbox-wrapper .gidra-lightbox-image.active
{
  display: inline-block;
}

.gidra-lightbox-wrapper .lightbox-error
{
  background: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 80px;
  opacity: .95;
  padding: 20px;
  position: fixed;
  width: 300px;
  z-index: 100;
}

.gidra-lightbox-wrapper .loading
{
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 32px;
  opacity: .5;
  padding: 10px;
  position: fixed;
  width: 32px;
  z-index: 10100;
}

.gidra-lightbox-wrapper .arrow
{
  cursor: pointer;
  height: 100px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  width: 82px;
  z-index: 10003;
}

.gidra-lightbox-wrapper .arrow.left
{
  left: 9px;
}

.gidra-lightbox-wrapper .arrow.right
{
  right: 9px;
}

.gidra-lightbox-wrapper .arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.gidra-lightbox-wrapper .arrow.disabled
{
  display: none;
}

.gidra-lightbox-wrapper .arrow-t, .gidra-lightbox-wrapper .arrow-b
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  left: 26px;
  position: relative;
  width: 30px;
}

.gidra-lightbox-wrapper .arrow-t
{
  top: 38px;
}

.gidra-lightbox-wrapper .arrow-b
{
  top: 50px;
}

.gidra-lightbox-wrapper .close
{
  cursor: pointer;
  height: 22px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 39px;
  top: 30px;
  width: 22px;
  z-index: 10003;
}

.gidra-lightbox-wrapper .close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.gidra-lightbox-wrapper .close .cw, .gidra-lightbox-wrapper .close .ccw
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  position: absolute;
  left: -4px;
  top: 8px;
  width: 30px;
}

.gidra-lightbox-wrapper .cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.gidra-lightbox-wrapper .ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.gidra-lightbox-wrapper .close-alt, .gidra-lightbox-wrapper .arrow-right-alt, .gidra-lightbox-wrapper .arrow-left-alt
{
  color: #fff;
  display: none;
  font-size: 2.5em;
  line-height: 100%;
}

.ie8 .gidra-lightbox-wrapper .close-alt, .ie8 .gidra-lightbox-wrapper .arrow-right-alt, .ie8 .gidra-lightbox-wrapper .arrow-left-alt
{
  display: block;
}

.ie8 .gidra-lightbox-wrapper .cw, .ie8 .gidra-lightbox-wrapper .ccw
{
  display: none;
}

.gidra-content-layout .gidra-sidebar1
{
  border-right: 1px dotted #B5B5B5;
  margin: 0 auto;
  width: 275px;
}

.gidra-content-layout .gidra-content
{
  margin: 0 auto;
}

fieldset
{
  border: none;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: solid 1px #26AAE3;
  border-top: solid 1px #26AAE3;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: solid 1px #26AAE3;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: solid 1px #26AAE3;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: solid 1px #26AAE3;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: solid 1px #26AAE3;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.edit.item-page select + div
{
  width: 100% !important;
}

.edit.item-page div > ul
{
  border: 1px solid #B9C2CB;
}

.edit.item-page .search-field
{
  overflow: visible;
}

.edit.item-page .search-field > input
{
  width: 100% !important;
}

.edit.item-page ul > li:before
{
  content: normal;
}

.edit.item-page fieldset
{
  border: solid 1px #26AAE3;
}

.edit.item-page fieldset legend
{
  padding: 7px;
  font-weight: bold;
}

#editor-xtd-buttons
{
  float: left;
  padding: 0;
}

.toggle-editor
{
  float: right;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form fieldset label
{
  width: 100%;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}

form .search label, form .finder label
{
  display: none;
}

#search-searchword
{
  margin-bottom: 5px;
}

.cols-2 .column-1, .cols-2 .column-2, .cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3
{
  float: left;
  clear: right;
}

.cols-2 .column-1
{
  width: 50%;
}

.cols-2 .column-2
{
  width: 50%;
}

.cols-3 .column-1
{
  width: 33%;
}

.cols-3 .column-2
{
  width: 33%;
}

.cols-3 .column-3
{
  width: 34%;
}

.row-separator
{
  clear: both;
  float: none;
  font-size: 1px;
  display: block;
}

ul.categories-module li h1, ul.categories-module li h2, ul.categories-module li h3, ul.categories-module li h4, ul.categories-module li h5, ul.categories-module li h6
{
  display: inline;
}

.only, .phrases
{
  border: solid 1px #ccc;
  margin: 10px 0 0 0px;
  padding: 15px;
  line-height: 1.3em;
}

div.tags
{
  display: inline;
}

.tag-category ul > li:before
{
  content: normal;
}

ul.list-striped > li:before
{
  content: normal;
}

.list-striped
{
  border-top: 1px solid #ddd;
}

.list-striped li, .list-striped dd
{
  border-bottom: 1px solid #ddd;
}

.accordion
{
  margin-bottom: 18px;
}

.accordion-group
{
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion-heading
{
  border-bottom: 0;
}

.accordion-heading .accordion-toggle
{
  display: block;
  padding: 8px 15px;
}

.accordion-toggle
{
  cursor: pointer;
}

.accordion-inner
{
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.accordion-body.in:hover
{
  overflow: visible;
}

.collapse.in
{
  height: auto;
}

.collapse
{
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */