/*
# ------------------------------------------------------------------------
# Extensions for Joomla 2.5.x - Joomla 3.x
# ------------------------------------------------------------------------
# Copyright (C) 2011-2015 Ext-Joom.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2.
# Author: Ext-Joom.com
# Websites:  http://www.ext-joom.com 
# Date modified: 01/08/2014 - 13:00
# ------------------------------------------------------------------------
*/


/* Frame */
.sly_frame {	
	overflow: hidden;
}
.sly_frame ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
}
.sly_frame ul li {
	float: left;	
	height: 100%;
	margin: 0;
	padding: 0;		
	text-align: center;
	cursor: pointer;
	overflow: hidden;	
}
.sly_frame .sly_img {
	max-width: 100%;
}
.sly_frame ul li.active {
	
}

.ext-sly-img-item-wrap {
	border: 1px solid #ddd;
}

/* Scrollbar */
.sly_scrollbar {
	margin: 0 0 1em 0;
	height: 5px;
	background: #ccc;
	line-height: 0;
}
.sly_scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.sly_scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}


/* Controls */
.sly_controls { 
	margin: 25px 0; text-align: center;
}

/* Effects */
.sly_css3_effects {
	padding: 15px 0;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.sly_css3_effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.sly_css3_effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.sly_css3_effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.sly_css3_effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}