.rsp_container {
	display:none; 
	width:100%;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:10px;
}
.rsp_row {
	clear:right;
	overflow:hidden;
	position:relative;
}
.rsp_picture_container {
	position:relative;
	overflow:hidden;
	margin:1px;
}
.rsp_picture {
	ovewrflow:hidden;
	background-position:center; 
	cursor:pointer;
	position:relative;
}

.rsp_icon_over {
	position:absolute;
	cursor:pointer;
	color:#87A5FF;
	-moz-opacity:0;
	-webkit-opacity:0;
	-o-opacity:0;
	opacity:0;
	text-align:center;
	background: rgba(255, 255, 255, 0.65);
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}

.rsp_body_cover {
	background-color:#0b0b0b;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1042;
	background-image: url(../images/loader.png);
	background-repeat: no-repeat;
	background-position: center;
}

.rsp_body_cover_picture {
	background: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1043;

}
.rsp_body_cover_picture img{
	max-width:100%;
}
.rsp_cover_inner {
    margin: 0 auto;
    position: relative;
    text-align: left;
    vertical-align: middle;
    z-index: 1045;
	width:70%;
}

.rsp_picture img {
	max-width:none;
}


.rsp_box_shadow {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 1);
}

.rsp_cover_inner .rsp_cover_details_container {
	height:70px;
	overflow:hidden;
	position:relative;
	
}
.rsp_cover_inner .rsp_cover_details_container .rsp_count_pictures {
	position: absolute;
	top: 5px;
	right: 0px;
	color: #ffffff;
	font-size:12px;
}
.rsp_cover_inner .rsp_cover_details_container h3 {
	font-size: 18px;
	color:#ffffff;
	font-weight: normal;
    letter-spacing: 0.5px;
    margin: 5px 0px 0px 0px;
}
.rsp_cover_inner .rsp_cover_details_container p {
	color:#ffffff;
	margin:3px 0px;
}
.rsp_cover_inner .rsp_cover_close_button {
	height:50px;
}
.rsp_cursor_zoom_out {
	cursor: zoom-out;
}
.rsp_cursor_auto {
	cursor: auto;
}
.rsp_cursor_pointer {
	cursor: pointer;
}
.rsp_picture a{
	display:block;
	width:100%;
	height: 100%;
	text-decoration:none;
}

button.rsp_cover_close {
	float:right;
	font-size: 28px;
	color:#ffffff;
	background:transparent;
	border:0;
	-webkit-appearance:none;
	display:block;
	outline:0;
	padding:0;
	line-height: 47px;
	font-family: Arial,Baskerville,monospace;
	opacity:0.65;
	margin-right:-5px;
	cursor:pointer;
}
button.rsp_cover_close:hover {
	opacity:1;
}
button.rsp_cover_arrow_button {overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}

.rsp_cover_arrow_button{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.rsp_cover_arrow_button:active{margin-top:-54px}
.rsp_cover_arrow_button:hover,
.rsp_cover_arrow_button:focus{opacity:1}
.rsp_cover_arrow_button:before,
.rsp_cover_arrow_button:after{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}
.rsp_cover_arrow_button:after {border-top-width:13px;border-bottom-width:13px;top:8px}
.rsp_cover_arrow_button:before {border-top-width:21px;border-bottom-width:21px}
.rsp_cover_arrow_button_left{left:0}
.rsp_cover_arrow_button_left:after {border-right:17px solid #fff;margin-left:31px}
.rsp_cover_arrow_button_left:before {margin-left:25px;border-right:27px solid #3f3f3f}
.rsp_cover_arrow_button_right {right:0}
.rsp_cover_arrow_button_right:after {border-left:17px solid #fff;margin-left:39px}
.rsp_cover_arrow_button_right:before {border-left:27px solid #3f3f3f}


@media all and (max-width:900px){
.rsp_cover_arrow_button{-webkit-transform:scale(0.75);transform:scale(0.75)}
.rsp_cover_arrow_button_left{-webkit-transform-origin:0;transform-origin:0}
.rsp_cover_arrow_button_right{-webkit-transform-origin:100%;transform-origin:100%}
}
