#attrib-settings .group-legends {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px 20px 0;
  margin-bottom: 30px;
}

#attrib-settings .group-legends:after {
  display: table;
  content: "";
  clear: both;
}

#attrib-settings .group-legends .control-group {
  float: left;
  margin: 0;
}

#attrib-settings .control-group .controls:empty {
  display: none;
}

#attrib-settings .control-label {
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
}

#attrib-settings .control-label h3 {
  border-radius: 3px 3px 0 0;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 -1px;
  padding: 9px 15px;
}

#attrib-settings .control-group.active h3 {
  border: 1px solid #ddd;
  border-top: 2px solid #069;
  border-bottom: 0;
  background-color: #fff;
}

#attrib-settings .control-group h3 span span {
  color: #999;
  font-size: 14px;
  margin-right: 7px;
}

#attrib-settings .control-label h3:hover {
  cursor: pointer;
}

#attrib-settings .top-group {
  position: relative;
}

#attrib-settings .extrafieldimg {
  border: 1px solid #ddd;
  padding: 0 20px;
  max-width: 300px;
}

#attrib-settings div#extrafield-action {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  clear: none;
  margin: 0 -20px;
  padding: 10px 20px;
}

#attrib-settings .adminformlist li {
  padding: 5px 0;
}

#attrib-settings .adminformlist label {
  display: inline-block;
  font-weight: bold;
  min-width: 100px;
}

#attrib-settings .adminformlist #jaform_params_ptype_chzn,
#attrib-settings .adminformlist #jaform_params_content_type_chzn {
  border-radius: 0;
  width: 160px !important;
}

#attrib-settings .adminformlist #jaform_params_icon,
#attrib-settings .adminformlist #jaform_params_title,
#attrib-settings .adminformlist #jaform_params_classpoint {
  border-radius: 0;
  width: 100px;
}

#attrib-settings .adminformlist #jaform_params_link,
#attrib-settings .adminformlist #jaform_params_offsetx,
#attrib-settings .adminformlist #jaform_params_offsety {
  border-radius: 0;
  width: 180px;
}

#attrib-settings .adminformlist #jaform_params_pointerspacer-lbl,
#attrib-settings .adminformlist #jaform_params_tooltipspacer-lbl {
  font-family: sans-serif;
  font-weight: normal;
}

#attrib-settings .adminformlist #jaform_params_pointerspacer-lbl b,
#attrib-settings .adminformlist #jaform_params_tooltipspacer-lbl b {
  display: inline-block;
  padding-bottom: 5px;
}

#attrib-settings .adminformlist input[type="text"] {
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
}

#attrib-settings .adminformlist textarea {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  height: 32px;
  line-height: 32px;
  width: 100%;
}

#attrib-settings .adminformlist textarea {
  height: 100px;
}

/* Icon set type */
#ja-iconset {
  display: block;
  overflow: hidden;
}

ul#ja-iconset li {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  float: left;
  padding: 10px !important;
  margin: 5px;
  max-width: 42px;
  max-height: 42px;
  line-height: 1;
}

ul#ja-iconset li.active {
  border-color: #069;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}