/**
 * ------------------------------------------------------------------------
 * JA Image Hotspot Module for Joomla 2.5 & 3.x
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2018 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------
*/
.cd-dropdown > span {
  background: #f0f0f0;
  height: 36px;
  line-height: 36px;
  padding: 0;
  min-width: 200px;
}

.cd-dropdown > span:after {
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 0;
}

.cd-dropdown ul {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  min-width: 200px;
}

/* Fix for Joomla 2.5 */
.popover h3.popover-title {
  margin: 0 !important;
}