.category-btn{
    position: relative;
}
.category-btn .arrow{
    position: absolute;
    top: 0;
    width: 20px;
    display: flex;
    height: 100%;
    right: 0;
    align-items: center;
    justify-content: center;
}

 .category-btn .arrow .fa-angle-up{
    display: none;
}
.category-btn .arrow .fa-angle-down{
    display: block;
}

.active .arrow .fa-angle-up{
    display: block;
}
.active .arrow .fa-angle-down{
    display: none;
}



.region-wrap-hide{
    display: none!important;
  }
  .region-wrap-include{
    position: fixed;
    width: 100%;
   height: 100%; 
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll; 
    padding: 24px 12px;
  }

  .region-wrap-include .char-title{
      font-weight: bold;
     font-size: 20px;

  }
  .region-wrap-include .form-region-wrap{
  max-width: 720px;
  margin-top: 200px;
  width: 100%;
  background: #fff;
    z-index: 2000;
    position: relative;
    border-radius: 5px;
  }
  .region-wrap-include .close-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ef3e34;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }
  .region-wrap-include .close-btn svg{
    width: 12px;
    fill: #fff;
  }
  .region-wrap-include .close-btn span{
  /*
    position: absolute;
    top: -1px;
  */
  }
  .region-wrap-include .close-btn:hover{
    background: #333;
  }
  .region-wrap-include .form-region{
    padding: 30px!important;
  }
  .region-wrap-include .form-region .title{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #333;
  }
  .region-wrap-include .region-list ul{
    padding-top: 15px;
    padding-left: 0px;
    column-count: 4;
    list-style: none;
  }
  .region-wrap-include .region-list ul li{
    padding: 3px;
    text-align: left;
  }
  .region-wrap-include .region-list ul li:before{
      display:none;
  }
  .region-wrap-include  .region-list ul li a,.region-wrap-include .region-list ul li span{
    font-size: 15px;
    padding: 0px;
    margin: 10px;
    border-color: #fff;
    color: #333;
  }
  .region-wrap-include .region-list ul li span{
    font-weight: bold;
  }
  .region-wrap-hide + .region-shadow{
    display: none;
  }
  .region-shadow{
    position: fixed;
    top: 0px;
   
    left: 0px;
    width: 100%;
    height: 100%;
    background: #33333375;
    z-index: 1000;
  }
  .show-region-modal{
    overflow: hidden;
    
  }
  .region-link.region-link-include{
  /*
    position: absolute;
    bottom: -24px;
    right: 0;
  */
    white-space: nowrap;
    color: #ef3e34;
   
    position: relative;
  
  /*        font-size: 13px;*/
   
  }
  .region-link.region-link-include span{
    border-bottom: dotted 1px #ef3e34;
     cursor: pointer;
    position: relative;
    
  }
  .region-link.region-link-include span:before{
    content: '';
    position: absolute;
  
    left: -15px;
    top: 50%;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
  }
  .region-link.region-link-include:hover span:before{
    border-top-color: rgba(255,255,255);
  }
  
  .region-link{
    cursor: pointer;
    /* font-size: 14px; */
    text-decoration: underline;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
.region-link:hover{
  text-decoration: underline;
}
.region-spoiler-wrap{
    /* background: #555; */
}
.region-spoiler-content{
    display: none;
}
.region-spoiler-content ul{
    column-count: 3;
    padding-left: 0;
    list-style: none!important;
    text-align: center;
    margin-bottom: 32px;
}
.region-spoiler-content ul li{
    list-style: none!important;
}
.region-spoiler-content ul a,.region-spoiler-content ul span{
    padding: 5px;
    color: #fff;
    display: inline-block;
    border-bottom: solid 1px #f2c200;
    text-decoration: none!important;
}

.region-spoiler-content ul span{
    border-bottom: none;
    font-weight: bold;
}
.region-spoiler-title{
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    padding: 0 0 32px;
    text-align: center;

}
.region-spoiler-title img{
    transition: .4s;
    padding-left: 12px;
}
.region-open-spoiler img{
    transform: rotate(180deg);
}

@media (max-width: 768px) {

    .region-wrap-include .region-list ul{
        column-count: 2;
    }
  
  }
  
  @media (max-width: 420px) {
  
    .region-wrap-include .region-list ul{
        column-count: 1;
    }
  
  }


  
/*Форма */

#callback input:not([type="checkbox"]), #callback button, #section3__form input:not([type="checkbox"]),
#section3__form button,  #section3__form textarea,
#login input:not([type="checkbox"]), #login button, #section3__form input:not([type="checkbox"]),
#form__footer input:not([type="checkbox"]), #form__footer button,  #form__footer textarea {
	width: 100%;
	border-radius: 3px;
	outline: none!important;
	border: 1px solid rgba(123,188,72,0.3);
	padding: 15px;
	font-size: 14px;
}
#section3__form input:not([type="checkbox"]), #section3__form button,  #section3__form textarea,
#form__footer input:not([type="checkbox"]), #form__footer button,  #form__footer textarea {
	margin-bottom: 15px;
}
.form__error  {
	margin-bottom: 20px;
}
.error {
	color: #ff0000;
	font-size: 0.8rem;
}
#callback section label[for="check"], #login section label[for="check"], #section3__form section label[for="check"], #form__footer section label[for="check"] {
	margin-bottom: 26px;
	font-size: 14px;
	color: #999;
	display: block;
}
#callback input:focus, #login input:focus, #section3__form input:focus, #form__footer input:focus {
  border-color: #7bbc48;
}
#callback input.error, #login input.error, #section3__form input.error, #form__footer input.error {
  border-color: #ff0000;
}
#callback input[type="submit"], #login input[type="submit"], #section3__form input[type="submit"], #form__footer input[type="submit"] {
    background: #03A9F4;
    color: #fff;
	border: none;
}

/*ФОРМА CALLBACK*/
.callback-form-grey h3,.callback-form-grey .call_phone a,.callback-form-grey .personal_grey,.callback-form-grey .personal_grey a{
    color: #3a3a3a!important;
    text-shadow: none!important;
}

#call  .personal,#call .personal a,.personal_grey,.personal_grey a{
    font-size: 15px!important;
    text-align: center!important;
}

#call .personal a,.personal_grey a{
    text-decoration: underline;
}

#call input[type=text],#call input[type=email]{
       padding: 10px 18px;
    border-radius: 5px;
/*    margin-right: 12px;*/
    border: solid 1px #ddd;
    width: 240px;
    color: #000!important;
    font-size: 16px;
    outline: none;
}

.red_button{
    background:  #03A9F4;
    border-radius: 5px;
    color:  #fff;
    font-weight:  bold;
    text-decoration:  none!important;
    font-size: 16px!important;
    padding: 10px 18px;
    text-shadow: none;
    text-align: center;
    border:none;
    cursor: pointer;
    border:solid 2px #03A9F4;
}


.red_button:hover{
    background:  #fff;
    color: #03A9F4;
}