/**
 * ------------------------------------------------------------------------
 * JA Image Hotspot Module for Joomla 2.5 & 3.4
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------
 */
 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');
 
#attrib-config {
  position: relative;
}

#attrib-config .control-group {
  width: 300px;
}

#attrib-config .control-group .controls {
  display: block;
  margin-left: 0 !important;
}

#attrib-config .control-group .control-label {
  float: none;
}

#attrib-config textarea#jform_params_modules_des {
  border-radius: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

#attrib-config .japreview {
  width: auto;
}

.japreview .media-preview {
  margin-top: 20px;
}

.japreview {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-left: 30px;
  padding: 15px;
  position: absolute;
  left: 340px;
  top: 0;
}

.japreview .controls {
  margin-left: 0 !important;
}

.media-preview {
}

.marker-wrap {
  box-sizing: border-box;
}

.marker-wrap .controls {
  margin-left: 0 !important;
}

#jform_params_imgpath_preview_img {
  position: relative;
  overflow: hidden;
}

#jform_params_imgpath_preview_img img {
  width: auto !important;
}

/* ++ MARKER ++ */
#jform_params_imgpath_preview_img .point {
/*  background: url("../../../assets/images/icon-marker-default.png");
  background-position: center bottom;
  background-repeat: no-repeat; */
  font-family: 'fontAwesome';
  border: 2px solid transparent;
  font-size: 22px;
  height: 24px;
  line-height: 24px;
  padding: 5px;
  width: 24px;
  position: absolute;
  text-align: center;
  z-index: 2;
}

#jform_params_imgpath_preview_img .point:hover {
  cursor: pointer;
}

#jform_params_imgpath_preview_img .point.ui-draggable:hover {
    cursor: move;
}

#jform_params_imgpath_preview_img .point span.hide {
    display: none;
}

#jform_params_imgpath_preview_img .point.active {
  background-color: rgba(171,50,41,0.6);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#jform_params_imgpath_preview_img .ja-marker-default {
  background: url("../../../assets/images/icon-marker-default.png");
}

#jform_params_imgpath_preview_img .ja-marker-cloud {
  background: url("../../../assets/images/icon-marker-cloud.png");
}

#jform_params_imgpath_preview_img .ja-marker-study {
  background: url("../../../assets/images/icon-marker-study.png");
}

#jform_params_imgpath_preview_img .ja-marker-star {
  background: url("../../../assets/images/icon-marker-star.png");
}

#jform_params_imgpath_preview_img .ja-marker-truck {
  background: url("../../../assets/images/icon-marker-truck.png");
}

#jform_params_imgpath_preview_img .ja-marker-default_orange {
  background: url("../../../assets/images/colors/orange/icon-marker-default.png");
}

#jform_params_imgpath_preview_img .ja-marker-cloud_orange {
  background: url("../../../assets/images/colors/orange/icon-marker-cloud.png");
}

#jform_params_imgpath_preview_img .ja-marker-study_orange {
  background: url("../../../assets/images/colors/orange/icon-marker-study.png");
}

#jform_params_imgpath_preview_img .ja-marker-star_orange {
  background: url("../../../assets/images/colors/orange/icon-marker-star.png");
}

#jform_params_imgpath_preview_img .ja-marker-truck_orange {
  background: url("../../../assets/images/colors/orange/icon-marker-truck.png");
}

#jform_params_imgpath_preview_img .ja-marker-default_red {
  background: url("../../../assets/images/colors/red/icon-marker-default.png");
}

#jform_params_imgpath_preview_img .ja-marker-cloud_red {
  background: url("../../../assets/images/colors/red/icon-marker-cloud.png");
}

#jform_params_imgpath_preview_img .ja-marker-study_red {
  background: url("../../../assets/images/colors/red/icon-marker-study.png");
}

#jform_params_imgpath_preview_img .ja-marker-star_red {
  background: url("../../../assets/images/colors/red/icon-marker-star.png");
}

#jform_params_imgpath_preview_img .ja-marker-truck_red {
  background: url("../../../assets/images/colors/red/icon-marker-truck.png");
}


/* -- MARKER -- */
#jform_params_imgpath_preview_img img {
  margin: 0;
  padding: 0;
}

#extrafieldimg #extrafield-action {
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  clear: both;
}

#extrafieldimg .deactive {
	display: none;
}

#extrafieldimg .active {
	display: block;
}

#extrafieldimg ul, #extrafieldimg ul, #extrafieldimg li {
    list-style: none;
    margin: 5px 0;
}