ul.rsmg_default_gallery li div.rsmg_default_container {
	border: 1px solid #000;
	background: #171717;
	box-shadow: 5px 5px 0 #333333;
}

.piro_html_default .h_t_l,
.piro_html_default .h_t_r,
.piro_html_default .h_t_c,
.piro_html_default .h_c_l,
.piro_html_default .h_c_c,
.piro_html_default .h_c_r,
.piro_html_default .h_b_c,
.piro_html_default .h_b_l,
.piro_html_default .h_b_r {
	background:#171717;
}

.piro_html_default .h_c_c .div_reg_default {
	background:#171717;
}

.piro_loader_default span {
	background-image: url(../images/lightbox-loader-dark.gif);
}

.piro_overlay_default {
	background:#fff;
}

.piro_html_default {
	-moz-box-shadow:    1px 1px 8px 4px #ccc;
	-webkit-box-shadow: 1px 1px 8px 4px #ccc;
	box-shadow:         1px 1px 8px 4px #ccc;
}

.piro_close_default {
	background:#171717 url(../images/close-dark.png) center center no-repeat;
}