ul.rsmg_default_gallery li div.rsmg_default_container {
	border: 1px solid #cccccc;
	background: white;
	box-shadow: 5px 5px 0 #dedede;
}

.piro_html_default .h_t_l,
.piro_html_default .h_t_r,
.piro_html_default .h_t_c,
.piro_html_default .h_c_l,
.piro_html_default .h_c_c,
.piro_html_default .h_c_r,
.piro_html_default .h_b_c,
.piro_html_default .h_b_l,
.piro_html_default .h_b_r {
	background:#ffffff;
}

.piro_html_default .h_c_c .div_reg_default {
	background:#ffffff;
}

.piro_loader_default span {
	background-image: url(../images/lightbox-loader-light.gif);
}

.piro_overlay_default {
	background:#000;
}

.piro_html_default {
	-moz-box-shadow:    1px 1px 8px 4px #5C5C5C;
	-webkit-box-shadow: 1px 1px 8px 4px #5C5C5C;
	box-shadow:         1px 1px 8px 4px #5C5C5C;
}

.piro_close_default {
	background:#fff url(../images/close-light.png) center center no-repeat;
}